Docker_Container_N8N_Debug/aigent_n8n/Aigent_Modules_Core/module_03_core_v2.json
{
  "name": "Aigent_Module_03_Core_V3_Telehealth_Session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telehealth-session",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "={{$env.ALLOWED_ORIGINS || 'https://yourdomain.com'}}"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "notes": "CORE V3: Public session creation webhook"
    },
    {
      "parameters": {
        "jsCode": "// CORE V3: Body unwrapper for PowerShell/n8n compatibility\nfunction unwrapBody(input) {\n  if (input.body && input.body.body && typeof input.body.body === 'object') {\n    return input.body.body;\n  }\n  if (input.body && typeof input.body === 'object') {\n    return input.body;\n  }\n  return input;\n}\n\nconst body = unwrapBody($input.item.json);\nconst timestamp = Date.now();\nconst random = Math.random().toString(36).substr(2, 6);\n\nreturn {\n  body: body,\n  trace_id: `SESSION-${timestamp}-${random}`,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "add-metadata",
      "name": "Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "booking-id",
              "leftValue": "={{ $json.body.booking_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "email",
              "leftValue": "={{ $json.body.patient_email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-fields",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/connector/connector-resolve",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "module_id",
              "value": "module_03_core"
            },
            {
              "name": "service_type",
              "value": "video"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "resolve-video-connector",
      "name": "Resolve Video Connector (M11A)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        240
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "M11 INTEGRATION: Resolve video connector (Zoom, Google Meet, Doxy.me)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/connector/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "connector_id",
              "value": "={{ $json.primary_connector?.id || 'zoom' }}"
            },
            {
              "name": "endpoint",
              "value": "create_meeting"
            },
            {
              "name": "payload",
              "value": "={{ { topic: 'Telehealth Session - ' + $('Add Metadata').first().json.body.booking_id, start_time: $('Add Metadata').first().json.body.scheduled_time || $now.plus({hours: 1}).toISO(), duration: $('Add Metadata').first().json.body.duration_minutes || 30, settings: { host_video: true, participant_video: true, join_before_host: false } } }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "execute-video-connector",
      "name": "Execute Video Connector (M11A)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        240
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "M11 INTEGRATION: Execute video meeting creation via Module 11A\nSupports mock/live mode based on MOCK_MODE_GLOBAL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VIDEO_PLATFORM_API_URL || 'https://api.zoom.us/v2'}}/meetings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.VIDEO_PLATFORM_API_KEY || 'mock-key'}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "={{ 'Telehealth Session - ' + $json.body.booking_id }}"
            },
            {
              "name": "type",
              "value": 2
            },
            {
              "name": "start_time",
              "value": "={{ $json.body.scheduled_time || $now.plus({hours: 1}).toISO() }}"
            },
            {
              "name": "duration",
              "value": "={{ $json.body.duration_minutes || 30 }}"
            },
            {
              "name": "settings",
              "value": "={{ { host_video: true, participant_video: true, join_before_host: false } }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "create-meeting",
      "name": "Create Video Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        480
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "disabled": true,
      "notes": "DISABLED: Replaced by Module 11A integration\nOLD: Direct Zoom/Google Meet API call\nNEW: Use 'Execute Video Connector (M11A)' instead"
    },
    {
      "parameters": {
        "jsCode": "// CORE V3 (M11 Integration): Extract meeting URLs and normalize response\nconst response = $input.first().json;\n\n// Handle Module 11A response format\nlet meeting = {};\nif (response.data) {\n  // Module 11A format\n  meeting = response.data;\n} else {\n  // Legacy direct API format\n  meeting = response;\n}\n\n// Extract meeting details with fallbacks\nconst meetingUrl = meeting.join_url || meeting.url || `https://meet.example.com/${Date.now()}`;\nconst meetingId = meeting.meeting_id || meeting.id || `MOCK-${Date.now()}`;\nconst startUrl = meeting.start_url || meeting.host_url || meetingUrl;\n\nreturn {\n  session_id: $('Add Metadata').first().json.trace_id,\n  booking_id: $('Add Metadata').first().json.body.booking_id,\n  meeting_id: meetingId,\n  meeting_url: meetingUrl,\n  patient_url: meetingUrl,\n  provider_url: startUrl,\n  scheduled_start: $('Add Metadata').first().json.body.scheduled_time || new Date(Date.now() + 3600000).toISOString(),\n  duration_minutes: $('Add Metadata').first().json.body.duration_minutes || 30,\n  patient_email: $('Add Metadata').first().json.body.patient_email,\n  timestamp: $('Add Metadata').first().json.timestamp\n};"
      },
      "id": "extract-urls",
      "name": "Extract Meeting URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        240
      ],
      "notes": "CORE V3 (M11 Integration): Handles Module 11A response format\nNormalizes video connector responses"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_TAB || 'Sessions'}}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "session_id": "={{ $json.session_id }}",
            "booking_id": "={{ $json.booking_id }}",
            "meeting_id": "={{ $json.meeting_id }}",
            "patient_email": "={{ $json.patient_email }}",
            "meeting_url": "={{ $json.meeting_url }}",
            "scheduled_start": "={{ $json.scheduled_start }}",
            "duration_minutes": "={{ $json.duration_minutes }}",
            "status": "SCHEDULED"
          }
        }
      },
      "id": "log-sheets",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1400,
        160
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/connector/connector-resolve",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "module_id",
              "value": "module_03_core"
            },
            {
              "name": "service_type",
              "value": "messaging"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "resolve-email-connector",
      "name": "Resolve Email Connector (M11A)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        240
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "disabled": true,
      "notes": "M11 INTEGRATION: Resolve email connector\nDISABLED BY DEFAULT: Enable when ready to use Module 11A for emails"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/connector/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "connector_id",
              "value": "={{ $json.primary_connector?.id || 'sendgrid' }}"
            },
            {
              "name": "endpoint",
              "value": "send_email"
            },
            {
              "name": "payload",
              "value": "={{ { to_email: $('Extract Meeting URLs').first().json.patient_email, from_email: $env.SENDGRID_FROM_EMAIL || 'noreply@example.com', subject: 'Your Telehealth Session Link', message: 'Hi,\\n\\nYour telehealth session is scheduled!\\n\\nJoin Meeting: ' + $('Extract Meeting URLs').first().json.patient_url + '\\n\\nScheduled Time: ' + $('Extract Meeting URLs').first().json.scheduled_start + '\\nDuration: ' + $('Extract Meeting URLs').first().json.duration_minutes + ' minutes\\n\\nSession ID: ' + $('Extract Meeting URLs').first().json.session_id + '\\n\\nPlease join on time. Questions? Contact ' + ($env.CLINIC_PHONE || 'us') + '\\n\\nThank you!' } }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "execute-email-connector",
      "name": "Execute Email (M11A)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        240
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "disabled": true,
      "notes": "M11 INTEGRATION: Execute email via Module 11A\nDISABLED BY DEFAULT: Enable when ready to use Module 11A for emails"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$env.SENDGRID_FROM_EMAIL || 'noreply@example.com'}}",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Your Telehealth Session Link",
        "emailType": "text",
        "message": "=Hi,\n\nYour telehealth session is scheduled!\n\nJoin Meeting: {{ $json.patient_url }}\n\nScheduled Time: {{ $json.scheduled_start }}\nDuration: {{ $json.duration_minutes }} minutes\n\nSession ID: {{ $json.session_id }}\n\nPlease join on time. Questions? Contact {{ $env.CLINIC_PHONE }}\n\nThank you!",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Meeting Link Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1.1,
      "position": [
        1400,
        400
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "disabled": true,
      "notes": "LEGACY: Direct SendGrid integration\nDISABLED BY DEFAULT: Use Module 11A integration instead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_WEBHOOK_URL || 'https://httpbin.org/post'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🎥 Telehealth Session Created\n📧 {{ $json.patient_email }}\n📅 {{ $json.scheduled_start }}\n🔗 {{ $json.meeting_url }}\n🆔 {{ $json.session_id }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "notify-staff",
      "name": "Notify Staff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Telehealth session created',\n  session_id: $json.session_id,\n  meeting_url: $json.patient_url,\n  scheduled_start: $json.scheduled_start,\n  duration_minutes: $json.duration_minutes,\n  trace_id: $json.session_id,\n  timestamp: $json.timestamp\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: false,\n  error: 'Please provide booking_id and patient_email',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json.error || {};\nreturn {success: false, error: 'Internal server error', error_message: error.message || 'Unknown', trace_id: $('Add Metadata').first().json.trace_id || 'UNKNOWN', timestamp: new Date().toISOString()};"
      },
      "id": "global-error-handler",
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "return-error-500",
      "name": "Return Server Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Add Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Metadata": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Resolve Video Connector (M11A)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Video Connector (M11A)": {
      "main": [
        [
          {
            "node": "Execute Video Connector (M11A)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Video Connector (M11A)": {
      "main": [
        [
          {
            "node": "Extract Meeting URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Meeting URLs": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resolve Email Connector (M11A)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Staff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Email Connector (M11A)": {
      "main": [
        [
          {
            "node": "Execute Email (M11A)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-trigger": {},
    "add-metadata": {},
    "validate-fields": {},
    "resolve-video-connector": {},
    "execute-video-connector": {},
    "create-meeting": {},
    "extract-urls": {},
    "log-sheets": {},
    "resolve-email-connector": {},
    "execute-email-connector": {},
    "send-email": {},
    "notify-staff": {},
    "return-success": {},
    "format-error": {},
    "return-error": {},
    "global-error-handler": {},
    "return-error-500": {},
    "Global Error Handler": {
      "main": [
        [
          {
            "node": "Return Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "aigent-core",
      "name": "Aigent-Core"
    },
    {
      "id": "module-03",
      "name": "Module-03"
    },
    {
      "id": "smb-ready",
      "name": "SMB-Ready"
    }
  ],
  "meta": {
    "version": "core-1.2.0",
    "branch": "Core",
    "description": "Module 03 CORE V3: Module 11 integration for universal video connector management with mock/live mode switching",
    "target_users": "Coaches, therapists, wellness providers (non-medical)",
    "features": [
      "Module 11A video connector resolution (Zoom, Google Meet, Doxy.me)",
      "Mock/live mode switching via MOCK_MODE_GLOBAL",
      "Video meeting creation via Module 11A",
      "Meeting link delivery via email (Module 11A or legacy)",
      "Google Sheets session logging",
      "Staff notifications",
      "Trace ID tracking"
    ],
    "removed_enterprise_features": [
      "HIPAA-compliant encryption",
      "Waiting room queue",
      "Session recording with audit",
      "PHI masking",
      "Provider/patient URL separation",
      "Post-session SOAP notes",
      "Attendance tracking"
    ],
    "required_vars": [
      "GOOGLE_SHEET_ID",
      "N8N_BASE_URL (for Module 11A calls, e.g., http://localhost:5678)",
      "CONNECTOR_REGISTRY_PATH (path to connectors_registry.json)"
    ],
    "optional_vars": [
      "GOOGLE_SHEET_TAB (default: Sessions)",
      "MOCK_MODE_GLOBAL (true/false - enables mock data from Module 11B)",
      "MOCK_BASE_PATH (path to mocks directory)",
      "DEFAULT_TIMEOUT_MS (default: 10000)",
      "VIDEO_PLATFORM_API_KEY (Zoom/Google Meet - used by Module 11A connectors)",
      "VIDEO_PLATFORM_API_URL (legacy)",
      "SENDGRID_FROM_EMAIL",
      "NOTIFICATION_WEBHOOK_URL",
      "CLINIC_PHONE"
    ],
    "video_platform_options": [
      "Zoom (via Module 11A)",
      "Google Meet (via Module 11A)",
      "Doxy.me (via Module 11A)",
      "Mock (for testing)"
    ],
    "performance": {
      "avg_execution_time_ms": 650,
      "p95_execution_time_ms": 1300,
      "node_count": 14
    },
    "compatibility": {
      "receives_from": "Module 02 (booking_id)",
      "sends_to": "Module 04 (session → billing)",
      "pairs_with": "Module 08 (reminder messages)"
    },
    "v2_improvements": [
      "Fixed CORS",
      "Improved trace_id",
      "Added error handler"
    ],
    "v3_improvements": [
      "INTEGRATION: Added Module 11A video connector resolution",
      "FLEXIBILITY: Support for multiple video providers via connector registry",
      "TESTING: Mock/live mode switching via MOCK_MODE_GLOBAL",
      "ARCHITECTURE: Disabled direct API calls in favor of Module 11A",
      "RESILIENCE: Module 11A handles authentication, normalization, and error handling",
      "SCALABILITY: Easy to add new video connectors without modifying Module 03"
    ],
    "dependencies": [
      "Module 11A: Connector Manager (required)",
      "Module 11B: Mock Simulator (optional, for testing)",
      "Module 11C: Test Harness (optional, for validation)"
    ]
  }
}
