backup_pre_env/Aigent_Modules_Core/module_01_core.json
{
  "name": "Aigent_Module_01_Core_Intake_LeadCapture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake-lead",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "webhook-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "notes": "CORE VERSION: Public webhook (no auth required)\nPURPOSE: Accept lead form submissions\nUSE CASE: Small business lead capture (gyms, spas, boutiques)"
    },
    {
      "parameters": {
        "jsCode": "// CORE: Simple metadata capture\nconst body = $input.item.json.body || {};\nconst timestamp = Date.now();\n\nreturn {\n  body: body,\n  trace_id: `LEAD-${timestamp}`,\n  timestamp: new Date().toISOString(),\n  workflow_version: 'core-1.0.0',\n  module: 'intake_lead_capture'\n};"
      },
      "id": "add-metadata",
      "name": "Add Basic Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300],
      "notes": "CORE: Lightweight metadata\nONLY: trace_id, timestamp, version\nNO: Rate limiting, IP tracking, deduplication"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "name-check",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "email-check",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "phone-check",
              "leftValue": "={{ $json.body.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validation-check",
      "name": "Basic Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300],
      "notes": "CORE: Simple required field checks\nNO: Regex validation, length checks, PHI masking"
    },
    {
      "parameters": {
        "jsCode": "// CORE: Simple data normalization\nconst body = $input.item.json.body || {};\n\n// Basic name splitting\nconst nameParts = (body.name || '').trim().split(/\\s+/);\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\n// Basic phone cleaning (remove non-digits)\nconst phoneNormalized = (body.phone || '').replace(/\\D/g, '');\n\nreturn {\n  trace_id: $input.item.json.trace_id,\n  name: body.name || '',\n  first_name: firstName,\n  last_name: lastName,\n  email: (body.email || '').toLowerCase().trim(),\n  phone: phoneNormalized,\n  phone_display: body.phone || '',\n  interest: body.interest || 'General Inquiry',\n  referral_source: body.referral_source || 'Direct',\n  notes: body.notes || '',\n  timestamp: $input.item.json.timestamp\n};"
      },
      "id": "normalize-data",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 240],
      "notes": "CORE: Basic data cleanup\nINCLUDES: Name split, phone cleanup, email lowercase\nNO: Lead scoring, IP tracking, duplicate detection"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$vars.GOOGLE_SHEET_ID || 'YOUR_SHEET_ID_HERE'}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{$vars.GOOGLE_SHEET_TAB || 'Leads'}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "trace_id": "={{ $json.trace_id }}",
            "name": "={{ $json.name }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "phone_display": "={{ $json.phone_display }}",
            "interest": "={{ $json.interest }}",
            "referral_source": "={{ $json.referral_source }}",
            "notes": "={{ $json.notes }}",
            "status": "NEW"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "append-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1000, 160],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "notes": "CORE: Primary data storage\nRETRY: 2 attempts\nNON-BLOCKING: Continues if fails"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.NOTIFICATION_WEBHOOK_URL || 'https://httpbin.org/post'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🆕 New Lead\n👤 Name: {{ $json.name }}\n📧 Email: {{ $json.email }}\n📱 Phone: {{ $json.phone_display }}\n💡 Interest: {{ $json.interest }}\n🔗 Source: {{ $json.referral_source }}\n🆔 ID: {{ $json.trace_id }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 240],
      "continueOnFail": true,
      "notes": "CORE: Simple notification (Slack/Teams/etc)\nNO: PHI masking, priority flagging\nOPTIONAL: Set NOTIFICATION_WEBHOOK_URL or defaults to httpbin"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$vars.SENDGRID_FROM_EMAIL || 'noreply@example.com'}}",
        "toEmail": "={{ $json.email }}",
        "subject": "Thank you for your inquiry!",
        "emailType": "text",
        "message": "=Hi {{ $json.first_name }},\n\nThank you for contacting us regarding {{ $json.interest }}. We've received your information and will get back to you shortly.\n\nBest regards,\nThe Team",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Auto-Reply Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1.1,
      "position": [1000, 320],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "disabled": true,
      "notes": "CORE: Simple auto-reply\nDISABLED BY DEFAULT: Enable when SendGrid connected\nNO: HTML templates, branding customization"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Thank you! We received your information.\",\n  \"trace_id\": $json.trace_id,\n  \"timestamp\": $json.timestamp\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 240],
      "notes": "CORE: Simple success response\nNO: Performance metrics, execution time tracking"
    },
    {
      "parameters": {
        "jsCode": "// CORE: Simple error message\nconst body = $input.item.json.body || {};\n\nreturn {\n  success: false,\n  error: 'Please provide name, email, and phone number',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 360],
      "notes": "CORE: Generic error message\nNO: Field-specific errors, debug info"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 360],
      "notes": "CORE: Simple 400 error response"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Add Basic Metadata", "type": "main", "index": 0}]]
    },
    "Add Basic Metadata": {
      "main": [[{"node": "Basic Validation", "type": "main", "index": 0}]]
    },
    "Basic Validation": {
      "main": [
        [{"node": "Normalize Data", "type": "main", "index": 0}],
        [{"node": "Format Error", "type": "main", "index": 0}]
      ]
    },
    "Normalize Data": {
      "main": [[
        {"node": "Save to Google Sheets", "type": "main", "index": 0},
        {"node": "Send Notification", "type": "main", "index": 0},
        {"node": "Send Auto-Reply Email", "type": "main", "index": 0},
        {"node": "Return Success", "type": "main", "index": 0}
      ]]
    },
    "Format Error": {
      "main": [[{"node": "Return Error", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "aigent-core",
      "name": "Aigent-Core"
    },
    {
      "id": "module-01",
      "name": "Module-01"
    },
    {
      "id": "smb-ready",
      "name": "SMB-Ready"
    }
  ],
  "meta": {
    "version": "core-1.0.0",
    "branch": "Core",
    "description": "Aigent Module 01 CORE: Simplified intake/lead capture for SMBs. No PHI handling, no authentication, minimal dependencies.",
    "target_users": "Small businesses (gyms, spas, salons, boutiques, service providers)",
    "features": [
      "Basic webhook entry (no auth)",
      "Simple validation (required fields only)",
      "Google Sheets logging",
      "Optional Slack/Teams notification",
      "Optional email auto-reply",
      "Trace ID generation",
      "Parallel execution"
    ],
    "removed_enterprise_features": [
      "API key authentication",
      "Rate limiting",
      "Deduplication",
      "PHI masking",
      "Client IP tracking",
      "Lead scoring",
      "HubSpot CRM integration",
      "Execution time tracking",
      "Detailed validation errors",
      "Performance categorization"
    ],
    "required_vars": [
      "GOOGLE_SHEET_ID (or use default placeholder)"
    ],
    "optional_vars": [
      "GOOGLE_SHEET_TAB (default: Leads)",
      "NOTIFICATION_WEBHOOK_URL (default: httpbin)",
      "SENDGRID_FROM_EMAIL (if email enabled)"
    ],
    "required_credentials": [
      "Google Sheets OAuth2 (for data storage)"
    ],
    "optional_credentials": [
      "SendGrid API (if auto-reply enabled)"
    ],
    "setup_instructions": [
      "1. Import to n8n",
      "2. Connect Google Sheets credential",
      "3. Set GOOGLE_SHEET_ID variable (or edit node directly)",
      "4. Optionally set NOTIFICATION_WEBHOOK_URL for Slack/Teams",
      "5. Optionally enable & configure SendGrid for auto-reply",
      "6. Test with sample data",
      "7. Activate workflow"
    ],
    "test_curl": "curl -X POST https://your-n8n-instance/webhook/intake-lead -H 'Content-Type: application/json' -d '{\"name\":\"John Doe\",\"email\":\"john@example.com\",\"phone\":\"555-1234\",\"interest\":\"General Inquiry\",\"referral_source\":\"Google\"}'",
    "performance": {
      "avg_execution_time_ms": 500,
      "p95_execution_time_ms": 1000,
      "note": "Faster than Enterprise due to fewer checks and integrations"
    },
    "compatibility": {
      "n8n_version": "1.0+",
      "pairs_with": "Module 02 Core, Module 07 Core",
      "enterprise_upgrade_path": "Switch to Module 01 Enterprise for HIPAA compliance, auth, rate limiting"
    }
  }
}
