backup_pre_env/Aigent_Modules_Core/module_10_core.json
{
  "name": "Aigent_Module_10_Core_Orchestration",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "orchestrate", "responseMode": "responseNode", "options": {"allowedOrigins": "*"}},
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {"jsCode": "return {body: $input.item.json.body || {}, trace_id: `ORCH-${Date.now()}`, timestamp: new Date().toISOString(), start_time: Date.now()};"},
      "id": "metadata",
      "name": "Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{ $json.body.workflow_type }}", "value2": "patient-journey"}
          ]
        }
      },
      "id": "route",
      "name": "Route by Workflow",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.N8N_BASE_URL}}/webhook/intake-lead",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "name", "value": "={{ $('Add Metadata').first().json.body.patient_name }}"},
            {"name": "email", "value": "={{ $('Add Metadata').first().json.body.patient_email }}"},
            {"name": "phone", "value": "={{ $('Add Metadata').first().json.body.patient_phone }}"}
          ]
        }
      },
      "id": "call-m01",
      "name": "Call Module 01",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.N8N_BASE_URL}}/webhook/consult-booking",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "email", "value": "={{ $json.data?.email }}"},
            {"name": "name", "value": "={{ $('Add Metadata').first().json.body.patient_name }}"},
            {"name": "phone", "value": "={{ $('Add Metadata').first().json.body.patient_phone }}"},
            {"name": "service_type", "value": "Consultation"}
          ]
        }
      },
      "id": "call-m02",
      "name": "Call Module 02",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.N8N_BASE_URL}}/webhook/telehealth-session",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "booking_id", "value": "={{ $json.booking_id }}"},
            {"name": "patient_email", "value": "={{ $('Add Metadata').first().json.body.patient_email }}"}
          ]
        }
      },
      "id": "call-m03",
      "name": "Call Module 03",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Add Metadata').first().json;\nconst duration = Date.now() - meta.start_time;\nreturn {\n  success: true,\n  orchestration_id: meta.trace_id,\n  workflow_type: 'patient-journey',\n  modules_executed: ['M01', 'M02', 'M03'],\n  total_duration_ms: duration,\n  timestamp: meta.timestamp\n};"
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 200]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {"responseCode": 200}},
      "id": "success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 200]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ {success: false, error: 'Unsupported workflow_type. Use: patient-journey'} }}", "options": {"responseCode": 400}},
      "id": "error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 360]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Add Metadata"}]]},
    "Add Metadata": {"main": [[{"node": "Route by Workflow"}]]},
    "Route by Workflow": {"main": [[{"node": "Call Module 01"}], [{"node": "Return Error"}]]},
    "Call Module 01": {"main": [[{"node": "Call Module 02"}]]},
    "Call Module 02": {"main": [[{"node": "Call Module 03"}]]},
    "Call Module 03": {"main": [[{"node": "Format Success"}]]},
    "Format Success": {"main": [[{"node": "Return Success"}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "aigent-core", "name": "Aigent-Core"}, {"id": "module-10", "name": "Module-10"}],
  "meta": {
    "version": "core-1.0.0",
    "branch": "Core",
    "description": "Module 10 CORE: System orchestration for multi-module workflows",
    "features": ["Sequential module calling", "Patient journey workflow", "Duration tracking"],
    "removed_enterprise_features": ["Circuit breaker", "Saga pattern rollback", "Distributed tracing", "Parallel execution", "Health monitoring"],
    "required_vars": ["N8N_BASE_URL"],
    "workflow_types": ["patient-journey (M01→M02→M03)"],
    "performance": {"avg_execution_time_ms": 200, "node_count": 8},
    "notes": "CORE_MODE toggle: Set CORE_MODE=true in environment"
  }
}
