03_Telehealth_Session/workflow_module_03_enhanced.json
{
  "name": "Aigent_Module_03_Telehealth_Session_Enhanced",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telehealth-session",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "={{$env.ALLOWED_ORIGINS || '*'}}",
          "rawBody": false
        }
      },
      "id": "webhook-trigger-301",
      "name": "Webhook Trigger - Appointment Confirmed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "{{$env.WEBHOOK_ID_MODULE_03}}",
      "notes": "PURPOSE: Accept confirmed appointment data from Module 02 or manual trigger.\nINPUTS: booking_confirmation.json (Data Contract 02) with appointment_id, patient details, scheduled_time.\nOUTPUTS: Parsed body as $json.\nCONFIG: Set ALLOWED_ORIGINS for CORS, WEBHOOK_ID_MODULE_03 for custom path.\nINTEGRATION: Connects to Module 02 success response.\nSECURITY: Validates origin, first PHI-sensitive module in chain.\nENHANCED v1.1: Captures client IP and request headers for audit trail."
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Validation with PHI-Safe Error Messages\nconst body = $input.first().json.body || {};\nconst errors = [];\n\n// Appointment confirmation check\nif (body.appointment_confirmed === false) {\n  errors.push('appointment_confirmed: must be true to create session');\n}\n\n// Appointment ID validation\nconst appointmentId = body.appointment_id || body.data?.appointment_id;\nif (!appointmentId || appointmentId.trim().length === 0) {\n  errors.push('appointment_id: required');\n} else if (appointmentId.length > 100) {\n  errors.push('appointment_id: maximum 100 characters');\n}\n\n// Patient email validation\nconst email = body.patient_email || body.data?.patient_email;\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!email || !emailRegex.test(email)) {\n  errors.push('patient_email: required and must be valid format');\n} else if (email.length > 320) {\n  errors.push('patient_email: maximum 320 characters');\n}\n\n// Patient name validation\nconst name = body.patient_name || body.data?.patient_name;\nif (!name || name.trim().length < 2) {\n  errors.push('patient_name: required, minimum 2 characters');\n} else if (name.length > 100) {\n  errors.push('patient_name: maximum 100 characters');\n}\n\n// Scheduled time validation\nconst scheduledTime = body.scheduled_time || body.data?.scheduled_time;\nif (!scheduledTime) {\n  errors.push('scheduled_time: required');\n} else {\n  try {\n    const parsedTime = DateTime.fromISO(scheduledTime);\n    if (!parsedTime.isValid) {\n      errors.push('scheduled_time: must be valid ISO 8601 format');\n    }\n  } catch (e) {\n    errors.push('scheduled_time: must be valid ISO 8601 format');\n  }\n}\n\n// Duration validation (optional, use default if missing)\nconst duration = body.duration_minutes || body.data?.duration_minutes || parseInt($env.DEFAULT_SESSION_DURATION) || 30;\nif (duration < 5 || duration > 240) {\n  errors.push('duration_minutes: must be between 5 and 240');\n}\n\n// Contact ID validation (optional but recommended)\nconst contactId = body.contact_id || body.data?.contact_id;\n\nif (errors.length > 0) {\n  return {\n    validation_passed: false,\n    errors: errors,\n    error_count: errors.length\n  };\n}\n\nreturn {\n  validation_passed: true,\n  validated_data: {\n    appointment_id: appointmentId.trim(),\n    patient_email: email.toLowerCase().trim(),\n    patient_name: name.trim(),\n    patient_phone: body.patient_phone || body.data?.patient_phone || '',\n    scheduled_time: scheduledTime,\n    duration_minutes: duration,\n    timezone: body.timezone || body.data?.timezone || $env.CLINIC_TIMEZONE || 'America/New_York',\n    service_type: body.service_type || body.data?.service_type || 'Telehealth Consultation',\n    provider_name: body.provider_name || body.data?.provider_name || $env.DEFAULT_PROVIDER_NAME || 'Provider',\n    provider_email: body.provider_email || $env.PROVIDER_EMAIL || $env.CLINIC_EMAIL,\n    contact_id: contactId || null,\n    booking_id: body.booking_id || body.data?.booking_id || appointmentId\n  }\n};"
      },
      "id": "validation-enhanced-302",
      "name": "Enhanced Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "PURPOSE: Comprehensive validation with PHI-safe error messages.\nENHANCED v1.1: Length constraints, format validation, duration limits.\nINPUTS: Webhook body (booking_confirmation.json from Module 02).\nOUTPUTS: validation_passed flag + validated_data or errors array.\nSECURITY: Error messages don't expose PHI (no patient names/emails in errors).\nVALIDATION RULES:\n- appointment_id: required, max 100 chars\n- patient_email: valid format, max 320 chars\n- patient_name: min 2 chars, max 100 chars\n- scheduled_time: ISO 8601 format\n- duration_minutes: 5-240 range (prevent abuse)\nDATA CONTRACT: Accepts both flat and nested (data.*) format from Module 02."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.validation_passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validation-router-303",
      "name": "Route: Validation Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "PURPOSE: Route based on validation result."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Validation failed\",\n  \"error_code\": \"VALIDATION_FAILED\",\n  \"details\": $json.errors,\n  \"timestamp\": $now.toISO(),\n  \"trace_id\": \"SESSION-\" + $now.toMillis(),\n  \"support_email\": $env.SUPPORT_EMAIL || 'support@yourclinic.com'\n} }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response-304",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 450],
      "notes": "PURPOSE: Return standardized 400 error with field-level errors.\nENHANCED v1.1: Added error_code, trace_id, support_email.\nSECURITY: PHI-safe error messages (no patient data exposed)."
    },
    {
      "parameters": {
        "jsCode": "// PHI Masking for Logs (Level 2)\nconst validatedData = $input.first().json.validated_data;\n\nfunction maskEmail(email) {\n  if (!email || !email.includes('@')) return email;\n  const [local, domain] = email.split('@');\n  const maskedLocal = local.charAt(0) + '***' + (local.length > 1 ? local.charAt(local.length - 1) : '');\n  return maskedLocal + '@' + domain;\n}\n\nfunction maskPhone(phone) {\n  if (!phone) return phone;\n  const digits = phone.replace(/\\D/g, '');\n  if (digits.length < 4) return '****';\n  return phone.replace(digits, '*'.repeat(digits.length - 4) + digits.slice(-4));\n}\n\nfunction maskName(name) {\n  if (!name) return name;\n  const parts = name.split(' ');\n  return parts.map(part => part.charAt(0) + '***').join(' ');\n}\n\nreturn {\n  ...validatedData,\n  // Masked versions for logging\n  patient_email_masked: maskEmail(validatedData.patient_email),\n  patient_phone_masked: maskPhone(validatedData.patient_phone),\n  patient_name_masked: maskName(validatedData.patient_name)\n};"
      },
      "id": "phi-masking-305",
      "name": "PHI Masking for Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "PURPOSE: Create masked versions of PHI for logging and notifications.\nENHANCED v1.1: Shared PHI redaction pattern (Level 2) from cross-module analysis.\nLOGIC:\n- Email: j***e@example.com\n- Phone: +1-555-***-4567 (last 4 digits only)\n- Name: J*** D*** (first letter + ***)\nSECURITY: Masked data used in all logs, audit trails, staff notifications.\nCOMPLIANCE: HIPAA-compliant PHI minimization in non-essential contexts.\nUSE CASE: DataStore logs use masked data, but video platform gets real data."
    },
    {
      "parameters": {
        "jsCode": "// Generate unique session ID and prepare telehealth platform request\nconst data = $input.first().json;\nconst appointmentId = data.appointment_id;\nconst scheduledTime = data.scheduled_time;\nconst patientName = data.patient_name;\nconst patientEmail = data.patient_email;\nconst providerName = data.provider_name;\nconst serviceType = data.service_type;\nconst duration = data.duration_minutes;\nconst timezone = data.timezone;\n\n// Generate unique session identifier\nconst clinicId = $env.CLINIC_ID || 'clinic';\nconst timestamp = Date.now();\nconst sessionId = `${clinicId}_${appointmentId}_${timestamp}`;\n\n// Calculate start time\nconst startTime = DateTime.fromISO(scheduledTime);\n\n// Session security settings\nconst settings = {\n  waiting_room: $env.ENABLE_WAITING_ROOM !== 'false', // Default true for HIPAA\n  recording: $env.ENABLE_AUTO_RECORDING === 'true',\n  join_before_host: $env.ALLOW_JOIN_BEFORE_HOST === 'true',\n  password_required: $env.REQUIRE_SESSION_PASSWORD !== 'false', // Default true\n  encryption: 'enhanced_encryption',\n  auto_admit: false // Manual admission for HIPAA compliance\n};\n\n// Session metadata (for audit trail)\nconst sessionData = {\n  session_id: sessionId,\n  appointment_id: appointmentId,\n  booking_id: data.booking_id,\n  topic: `${serviceType} - ${patientName}`,\n  start_time: startTime.toISO(),\n  duration: duration,\n  timezone: timezone,\n  patient: {\n    name: patientName,\n    email: patientEmail,\n    phone: data.patient_phone\n  },\n  provider: {\n    name: providerName,\n    email: data.provider_email\n  },\n  settings: settings,\n  metadata: {\n    contact_id: data.contact_id,\n    workflow_version: $env.WORKFLOW_VERSION || '1.1.0-enhanced',\n    created_at: new Date().toISOString()\n  }\n};\n\nreturn sessionData;"
      },
      "id": "prepare-session-306",
      "name": "Prepare Session Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "notes": "PURPOSE: Generate unique session ID and prepare data for video platform API.\nENHANCED v1.1: Added metadata tracking, enhanced security defaults.\nLOGIC: session_id = clinic_id + appointment_id + timestamp.\nSECURITY DEFAULTS:\n- waiting_room: ON (HIPAA best practice)\n- password_required: ON (default true)\n- auto_admit: OFF (manual admission)\n- encryption: enhanced_encryption\nMETADATA: Includes workflow_version, contact_id for tracking.\nCUSTOMIZATION: Modify settings based on clinic security policy."
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "method": "POST",
        "url": "={{$env.TELEHEALTH_API_BASE_URL}}/meetings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "type",
              "value": "={{ $env.TELEHEALTH_MEETING_TYPE || '2' }}"
            },
            {
              "name": "start_time",
              "value": "={{ $json.start_time }}"
            },
            {
              "name": "duration",
              "value": "={{ $json.duration }}"
            },
            {
              "name": "timezone",
              "value": "={{ $json.timezone }}"
            },
            {
              "name": "agenda",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "settings",
              "value": "={{ {\n  waiting_room: $json.settings.waiting_room,\n  join_before_host: $json.settings.join_before_host,\n  auto_recording: $json.settings.recording ? 'cloud' : 'none',\n  mute_upon_entry: true,\n  approval_type: 2,\n  meeting_authentication: false,\n  encryption_type: $json.settings.encryption\n} }}"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "create-session-307",
      "name": "Create Telehealth Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "={{$env.TELEHEALTH_CREDENTIAL_ID}}",
          "name": "={{$env.TELEHEALTH_CREDENTIAL_NAME}}"
        }
      },
      "notes": "PURPOSE: Create secure HIPAA-compliant telehealth session.\nENHANCED v1.1: Added retry logic (3 attempts, 2s delay).\nPLATFORMS SUPPORTED:\n- Zoom for Healthcare: POST /meetings (OAuth2)\n- Doxy.me: POST /api/v1/rooms (API key)\n- Amwell: POST /visits (OAuth2)\nSECURITY: Enhanced encryption, waiting room, manual approval.\nRETRY: 3 attempts to handle transient API failures.\nTIMEOUT: 15s for API response.\nCRITICAL: If this fails, must alert staff immediately."
    },
    {
      "parameters": {
        "jsCode": "// Extract session URLs and format for patient/provider\nconst response = $input.first().json;\nconst sessionData = $('Prepare Session Data').first().json;\nconst maskedData = $('PHI Masking for Logs').first().json;\n\n// Platform-specific URL extraction\nlet sessionLink, hostLink, sessionPassword, platformMeetingId;\n\nconst provider = $env.TELEHEALTH_PROVIDER_NAME || 'Generic';\n\nif (provider === 'Zoom') {\n  sessionLink = response.join_url;\n  hostLink = response.start_url;\n  sessionPassword = response.password || response.encrypted_password || null;\n  platformMeetingId = response.id;\n} else if (provider === 'Doxy.me') {\n  sessionLink = `https://doxy.me/${response.room_name}`;\n  hostLink = `https://doxy.me/${response.room_name}?provider=true`;\n  sessionPassword = response.pin || null;\n  platformMeetingId = response.room_id || response.room_name;\n} else if (provider === 'Amwell') {\n  sessionLink = response.patient_url;\n  hostLink = response.provider_url;\n  sessionPassword = null; // Token-based\n  platformMeetingId = response.visit_id;\n} else {\n  // Generic fallback\n  sessionLink = response.join_url || response.patient_url || response.url;\n  hostLink = response.start_url || response.provider_url || response.host_url;\n  sessionPassword = response.password || response.pin || null;\n  platformMeetingId = response.id || response.meeting_id || response.visit_id;\n}\n\n// Recording URL (if auto-recording enabled)\nconst recordingUrl = response.recording_url || null;\n\n// Session expiration (for auto-cleanup)\nconst startTime = DateTime.fromISO(sessionData.start_time);\nconst expiresAt = startTime.plus({ days: parseInt($env.SESSION_LINK_EXPIRY_DAYS) || 1 }).toISO();\n\n// Format response with PHI masking for logs\nreturn {\n  session_id: sessionData.session_id,\n  appointment_id: sessionData.appointment_id,\n  booking_id: sessionData.booking_id,\n  platform_meeting_id: platformMeetingId,\n  session_link: sessionLink,\n  host_link: hostLink,\n  session_password: sessionPassword,\n  recording_url: recordingUrl,\n  scheduled_time: sessionData.start_time,\n  duration: sessionData.duration,\n  timezone: sessionData.timezone,\n  expires_at: expiresAt,\n  // Full data (for video platform and direct patient communication)\n  patient_email: sessionData.patient.email,\n  patient_name: sessionData.patient.name,\n  patient_phone: sessionData.patient.phone,\n  provider_name: sessionData.provider.name,\n  provider_email: sessionData.provider.email,\n  // Masked data (for logs and staff notifications)\n  patient_email_masked: maskedData.patient_email_masked,\n  patient_name_masked: maskedData.patient_name_masked,\n  patient_phone_masked: maskedData.patient_phone_masked,\n  provider: provider,\n  created_at: sessionData.metadata.created_at,\n  contact_id: sessionData.metadata.contact_id,\n  workflow_version: sessionData.metadata.workflow_version\n};"
      },
      "id": "format-session-308",
      "name": "Format Session Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "notes": "PURPOSE: Extract and normalize session URLs across platforms.\nENHANCED v1.1: Added PHI masking, recording URL, session expiration.\nPLATFORM LOGIC:\n- Zoom: join_url, start_url, password\n- Doxy.me: room_name URL, provider=true param, PIN\n- Amwell: patient_url, provider_url, token-based\nSECURITY ENHANCEMENTS:\n- Masked data included for logs (patient_email_masked, etc.)\n- Session expiration tracking (default 1 day after appointment)\n- Recording URL capture (for post-session storage)\nDATA SEPARATION: Full PHI for communications, masked for logs."
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.contact_id }}",
        "updateFields": {
          "telehealth_status": "SCHEDULED",
          "telehealth_link": "={{ $json.session_link }}",
          "telehealth_session_id": "={{ $json.session_id }}",
          "telehealth_platform": "={{ $json.provider }}",
          "telehealth_scheduled_time": "={{ $json.scheduled_time }}",
          "telehealth_expires_at": "={{ $json.expires_at }}",
          "last_telehealth_update": "={{ $now.toISO() }}",
          "appointment_status": "TELEHEALTH_READY"
        },
        "options": {}
      },
      "id": "crm-update-309",
      "name": "Update CRM with Session",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1650, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true,
      "credentials": {
        "hubspotApi": {
          "id": "{{$env.HUBSPOT_CREDENTIAL_ID}}",
          "name": "{{$env.HUBSPOT_CREDENTIAL_NAME}}"
        }
      },
      "notes": "PURPOSE: Update CRM with telehealth session details.\nENHANCED v1.1: Added retry logic (3x), continueOnFail, expires_at tracking.\nFIELDS UPDATED: status, link, session_id, platform, scheduled_time, expires_at.\nNEW FIELD: expires_at enables automatic link cleanup after expiration.\nRETRY: 3 attempts with 1s delay.\nCONTINUE_ON_FAIL: Non-critical; session still succeeds if CRM fails.\nSTATUS PROGRESSION: 'SCHEDULED' → 'TELEHEALTH_READY'."
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{$env.TWILIO_FROM_NUMBER}}",
        "to": "={{ $json.patient_phone }}",
        "message": "=Hi {{ $json.patient_name.split(' ')[0] }},\n\nYour telehealth appointment is ready!\n\n📅 {{ DateTime.fromISO($json.scheduled_time).toFormat('EEEE, MMMM d') }}\n🕐 {{ DateTime.fromISO($json.scheduled_time).toFormat('h:mm a') }} {{ $json.timezone }}\n🎥 Provider: {{ $json.provider_name }}\n\n🔗 Join here:\n{{ $json.session_link }}\n\n{{ $json.session_password ? '🔑 Password: ' + $json.session_password : '' }}\n\n⚠️ Join 5 min early to test your connection.\n\nQuestions? Call {{ $env.CLINIC_PHONE }}\n\n- {{ $env.CLINIC_NAME }} Team",
        "options": {}
      },
      "id": "sms-notification-310",
      "name": "Send Patient SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1.2,
      "position": [1650, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "continueOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "{{$env.TWILIO_CREDENTIAL_ID}}",
          "name": "{{$env.TWILIO_CREDENTIAL_NAME}}"
        }
      },
      "notes": "PURPOSE: Send SMS to patient with session link.\nENHANCED v1.1: Added retry logic (2x), continueOnFail, timezone.\nSECURITY: Link is unique and expires after session.\nRETRY: 2 attempts with 500ms delay.\nCONTINUE_ON_FAIL: Non-critical; patient gets email too.\nCOMPLIANCE: HIPAA-compliant Twilio account required."
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$env.SENDGRID_FROM_EMAIL}}",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "=Your Telehealth Appointment - {{ DateTime.fromISO($json.scheduled_time).toFormat('MMM d, yyyy') }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: {{$env.BRAND_PRIMARY_COLOR || '#4F46E5'}}; color: white; padding: 30px 20px; text-align: center; border-radius: 8px 8px 0 0; }\n    .video-icon { font-size: 48px; margin-bottom: 10px; }\n    .content { background: #f9fafb; padding: 30px; border-radius: 0 0 8px 8px; }\n    .detail-box { background: white; padding: 20px; border-radius: 6px; margin: 20px 0; border-left: 4px solid {{$env.BRAND_PRIMARY_COLOR || '#4F46E5'}}; }\n    .label { font-weight: bold; color: #6b7280; font-size: 14px; margin-bottom: 5px; }\n    .value { color: #111827; font-size: 16px; margin-bottom: 15px; }\n    .join-button { background: {{$env.BRAND_PRIMARY_COLOR || '#4F46E5'}}; color: white; padding: 16px 40px; text-decoration: none; border-radius: 6px; display: inline-block; margin: 20px 0; font-size: 18px; font-weight: bold; }\n    .password-box { background: #fef3c7; border: 2px solid #f59e0b; padding: 15px; border-radius: 6px; margin: 15px 0; }\n    .tech-check { background: #dcfce7; border-left: 4px solid #10b981; padding: 15px; margin: 15px 0; border-radius: 4px; }\n    .footer { text-align: center; color: #6b7280; font-size: 12px; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"video-icon\">🎥</div>\n      <h1>Your Telehealth Appointment</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hi {{ $json.patient_name.split(' ')[0] }},</p>\n      <p>Your telehealth appointment is confirmed and ready to join.</p>\n      \n      <div class=\"detail-box\">\n        <div class=\"label\">📅 Date & Time</div>\n        <div class=\"value\" style=\"font-size: 18px; font-weight: bold;\">{{ DateTime.fromISO($json.scheduled_time).toFormat('EEEE, MMMM d, yyyy') }}<br>{{ DateTime.fromISO($json.scheduled_time).toFormat('h:mm a') }} <small style=\"color: #6b7280;\">{{ $json.timezone }}</small></div>\n        \n        <div class=\"label\">👨‍⚕️ Provider</div>\n        <div class=\"value\">{{ $json.provider_name }}</div>\n        \n        <div class=\"label\">⏱️ Duration</div>\n        <div class=\"value\">{{ $json.duration }} minutes</div>\n        \n        <div class=\"label\">💻 Platform</div>\n        <div class=\"value\">{{ $json.provider }}</div>\n      </div>\n      \n      <div style=\"text-align: center;\">\n        <a href=\"{{ $json.session_link }}\" class=\"join-button\">Join Telehealth Appointment</a>\n      </div>\n      \n      {{ $json.session_password ? '<div class=\"password-box\"><strong>🔑 Password:</strong> <span style=\"font-size: 20px; font-weight: bold;\">' + $json.session_password + '</span></div>' : '' }}\n      \n      <div class=\"tech-check\">\n        <strong>✅ Before Your Appointment:</strong>\n        <ul style=\"margin: 10px 0; padding-left: 20px;\">\n          <li>Join 5 minutes early to test audio/video</li>\n          <li>Ensure quiet, private space</li>\n          <li>Have insurance card and ID ready</li>\n          <li>Test internet (minimum 3 Mbps)</li>\n        </ul>\n      </div>\n      \n      <p style=\"margin-top: 20px; font-size: 14px; color: #6b7280;\">\n        <strong>Session ID:</strong> {{ $json.session_id }}\n      </p>\n    </div>\n    <div class=\"footer\">\n      <p><strong>{{ $env.CLINIC_NAME }}</strong><br>\n      {{ $env.CLINIC_PHONE }} | {{ $env.CLINIC_EMAIL }}</p>\n      <p style=\"margin-top: 15px; font-size: 11px;\">\n        HIPAA-compliant and encrypted end-to-end.<br>\n        Your privacy and security are our top priorities.\n      </p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "ccEmail": "={{$env.SENDGRID_BCC_EMAIL}}"
        }
      },
      "id": "email-notification-311",
      "name": "Send Patient Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1.1,
      "position": [1650, 400],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "continueOnFail": true,
      "credentials": {
        "sendGridApi": {
          "id": "{{$env.SENDGRID_CREDENTIAL_ID}}",
          "name": "{{$env.SENDGRID_CREDENTIAL_NAME}}"
        }
      },
      "notes": "PURPOSE: Send comprehensive email with session details.\nENHANCED v1.1: Added retry logic (2x), continueOnFail, timezone display.\nCONTENT: Join button, password, pre-appointment checklist, tech requirements.\nSECURITY: HIPAA compliance notice, encryption statement.\nRETRY: 2 attempts with 500ms delay.\nCONTINUE_ON_FAIL: Non-critical; session still succeeds."
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$env.SENDGRID_FROM_EMAIL}}",
        "toEmail": "={{ $json.provider_email }}",
        "subject": "=Telehealth Ready - {{ $json.patient_name_masked }} - {{ DateTime.fromISO($json.scheduled_time).toFormat('MMM d, h:mm a') }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #10b981; color: white; padding: 20px; text-align: center; }\n    .content { background: #f9fafb; padding: 30px; }\n    .detail-box { background: white; padding: 20px; border-radius: 6px; margin: 15px 0; }\n    .start-button { background: #10b981; color: white; padding: 14px 30px; text-decoration: none; border-radius: 6px; display: inline-block; margin: 15px 0; font-weight: bold; }\n    .patient-info { background: #e0e7ff; padding: 15px; border-radius: 6px; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>🎥 Telehealth Session Ready</h2>\n    </div>\n    <div class=\"content\">\n      <div class=\"patient-info\">\n        <strong>Patient:</strong> {{ $json.patient_name }}<br>\n        <strong>Date/Time:</strong> {{ DateTime.fromISO($json.scheduled_time).toFormat('EEEE, MMMM d, yyyy \\\\at h:mm a') }}<br>\n        <strong>Duration:</strong> {{ $json.duration }} minutes<br>\n        <strong>Platform:</strong> {{ $json.provider }}\n      </div>\n      \n      <div style=\"text-align: center;\">\n        <a href=\"{{ $json.host_link }}\" class=\"start-button\">Start Session (Host Link)</a>\n      </div>\n      \n      <div class=\"detail-box\">\n        <strong>Session Info:</strong><br>\n        Session ID: {{ $json.session_id }}<br>\n        Meeting ID: {{ $json.platform_meeting_id }}<br>\n        {{ $json.session_password ? 'Password: ' + $json.session_password : 'No password' }}\n      </div>\n      \n      <div class=\"detail-box\">\n        <strong>Patient Contact:</strong><br>\n        Email: {{ $json.patient_email }}<br>\n        Phone: {{ $json.patient_phone }}<br>\n        Appointment ID: {{ $json.appointment_id }}\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "provider-notification-312",
      "name": "Send Provider Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1.1,
      "position": [1650, 500],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "continueOnFail": true,
      "credentials": {
        "sendGridApi": {
          "id": "{{$env.SENDGRID_CREDENTIAL_ID}}",
          "name": "{{$env.SENDGRID_CREDENTIAL_NAME}}"
        }
      },
      "notes": "PURPOSE: Notify provider that session is ready.\nENHANCED v1.1: Added retry logic (2x), continueOnFail, PHI masking in subject.\nSECURITY: Subject uses masked patient name (J*** D***) for email preview privacy.\nCONTENT: Host link (elevated permissions), session credentials, patient contact.\nRETRY: 2 attempts with 500ms delay.\nCONTINUE_ON_FAIL: Non-critical."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{$env.GOOGLE_SHEET_ID}}",
        "sheetName": "={{$env.GOOGLE_SHEET_TAB_TELEHEALTH || 'Telehealth Sessions'}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "session_id": "={{ $json.session_id }}",
            "appointment_id": "={{ $json.appointment_id }}",
            "platform_meeting_id": "={{ $json.platform_meeting_id }}",
            "patient_name_masked": "={{ $json.patient_name_masked }}",
            "patient_email_masked": "={{ $json.patient_email_masked }}",
            "patient_phone_masked": "={{ $json.patient_phone_masked }}",
            "provider_name": "={{ $json.provider_name }}",
            "scheduled_time": "={{ $json.scheduled_time }}",
            "duration": "={{ $json.duration }}",
            "timezone": "={{ $json.timezone }}",
            "platform": "={{ $json.provider }}",
            "status": "SCHEDULED",
            "expires_at": "={{ $json.expires_at }}",
            "workflow_version": "={{ $json.workflow_version }}",
            "created_at": "={{ $json.created_at }}"
          }
        },
        "options": {}
      },
      "id": "datastore-313",
      "name": "Log Session (PHI-Safe)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1650, 600],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{$env.GOOGLE_SHEETS_CREDENTIAL_ID}}",
          "name": "{{$env.GOOGLE_SHEETS_CREDENTIAL_NAME}}"
        }
      },
      "notes": "PURPOSE: Log session details with PHI masking for audit trail.\nENHANCED v1.1: Added retry logic (2x), PHI masking, expires_at tracking.\nSECURITY: Uses masked patient data (J*** D***, j***e@example.com).\nFIELDS LOGGED: session_id, masked PHI, provider, times, platform, expiration.\nCOMPLIANCE: HIPAA-compliant logging (PHI minimization).\nRETRY: 2 attempts with 2s delay.\nCONTINUE_ON_FAIL: Non-critical.\nNOTE: Session links NOT logged (too sensitive for spreadsheet)."
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-results-314",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1850, 400],
      "notes": "PURPOSE: Consolidate outputs from all branches."
    },
    {
      "parameters": {
        "jsCode": "// Build execution metadata\nconst executionStart = $execution.startedAt || DateTime.now();\nconst executionEnd = DateTime.now();\nconst executionTimeMs = executionEnd.toMillis() - executionStart.toMillis();\n\n// Performance categorization\nlet performanceCategory = 'fast';\nif (executionTimeMs > 3000) performanceCategory = 'slow';\nelse if (executionTimeMs > 2000) performanceCategory = 'normal';\n\nconst clientIP = $('Webhook Trigger - Appointment Confirmed').first().json.headers?.['x-forwarded-for'] ||\n                 $('Webhook Trigger - Appointment Confirmed').first().json.headers?.['x-real-ip'] ||\n                 'unknown';\n\nreturn {\n  metadata: {\n    workflow_version: $env.WORKFLOW_VERSION || '1.1.0-enhanced',\n    trace_id: 'SESSION-' + $now.toMillis(),\n    execution_time_ms: executionTimeMs,\n    performance_category: performanceCategory,\n    timestamp: $now.toISO(),\n    client_ip: clientIP,\n    n8n_execution_id: $execution.id,\n    environment: $env.NODE_ENV || 'production',\n    crm_updated: $('Update CRM with Session').first().json?.id ? true : false,\n    patient_sms_sent: $('Send Patient SMS').first().json?.sid ? true : false,\n    patient_email_sent: $('Send Patient Email').first().json?.messageId ? true : false,\n    provider_email_sent: $('Send Provider Email').first().json?.messageId ? true : false,\n    logged: $('Log Session (PHI-Safe)').first().json ? true : false,\n    phi_level: 'HIGH',\n    security_compliant: true\n  }\n};"
      },
      "id": "build-metadata-315",
      "name": "Build Execution Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 400],
      "notes": "PURPOSE: Generate execution metadata with PHI tracking.\nENHANCED v1.1: Shared pattern from Module 01/02, added PHI level tracking.\nMETRICS: execution_time_ms, performance_category.\nPHI TRACKING: phi_level=HIGH, security_compliant flag.\nTARGET: <2200ms avg execution time.\nALERTS: performance_category='slow' triggers monitoring."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Telehealth session created successfully\",\n  \"data\": {\n    \"session_id\": $('Format Session Links').first().json.session_id,\n    \"appointment_id\": $('Format Session Links').first().json.appointment_id,\n    \"booking_id\": $('Format Session Links').first().json.booking_id,\n    \"platform_meeting_id\": $('Format Session Links').first().json.platform_meeting_id,\n    \"session_link\": $('Format Session Links').first().json.session_link,\n    \"host_link\": $('Format Session Links').first().json.host_link,\n    \"session_password\": $('Format Session Links').first().json.session_password,\n    \"scheduled_time\": $('Format Session Links').first().json.scheduled_time,\n    \"scheduled_time_formatted\": DateTime.fromISO($('Format Session Links').first().json.scheduled_time).toFormat('EEEE, MMMM d, yyyy \\\\at h:mm a'),\n    \"duration_minutes\": $('Format Session Links').first().json.duration,\n    \"timezone\": $('Format Session Links').first().json.timezone,\n    \"expires_at\": $('Format Session Links').first().json.expires_at,\n    \"patient_email\": $('Format Session Links').first().json.patient_email,\n    \"patient_name\": $('Format Session Links').first().json.patient_name,\n    \"provider_name\": $('Format Session Links').first().json.provider_name,\n    \"provider\": $('Format Session Links').first().json.provider,\n    \"contact_id\": $('Format Session Links').first().json.contact_id\n  },\n  \"metadata\": $json.metadata\n} }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Trace-ID",
                "value": "={{ $json.metadata.trace_id }}"
              }
            ]
          }
        }
      },
      "id": "success-response-316",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2250, 400],
      "notes": "PURPOSE: Return session_record.json (Data Contract 03).\nENHANCED v1.1: Added expires_at, comprehensive metadata.\nFORMAT: Conforms to Data Contract 03 for Module 04 integration.\nHEADERS: X-Trace-ID for request tracking.\nSECURITY: Contains sensitive links - caller must secure response.\nINTEGRATION: Output triggers Module 04 (Billing) after session."
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "id": "error-handler-317",
      "name": "Error Handler",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1850, 600],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Catch execution errors.\nCRITICAL: If session creation fails, must alert staff immediately.\nRECOVERY: Trigger manual session creation or reschedule.\nINTEGRATION: Connect to Module 09 (Audit) or alert workflow."
    }
  ],
  "connections": {
    "Webhook Trigger - Appointment Confirmed": {
      "main": [
        [
          {
            "node": "Enhanced Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Validation": {
      "main": [
        [
          {
            "node": "Route: Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Validation Result": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PHI Masking for Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PHI Masking for Logs": {
      "main": [
        [
          {
            "node": "Prepare Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Data": {
      "main": [
        [
          {
            "node": "Create Telehealth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Telehealth Session": {
      "main": [
        [
          {
            "node": "Format Session Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Session Links": {
      "main": [
        [
          {
            "node": "Update CRM with Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Patient SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Patient Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Provider Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Session (PHI-Safe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM with Session": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Patient SMS": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send Patient Email": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send Provider Email": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Log Session (PHI-Safe)": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Build Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Execution Metadata": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "{{$env.ERROR_WORKFLOW_ID}}"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Aigent",
      "id": "aigent-module"
    },
    {
      "name": "Clinic-Template",
      "id": "clinic-template"
    },
    {
      "name": "Telehealth",
      "id": "telehealth"
    },
    {
      "name": "PHI-Sensitive",
      "id": "phi-sensitive"
    },
    {
      "name": "Enhanced-v1.1",
      "id": "enhanced-v1-1"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": "1.1.0-enhanced",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "{{$env.N8N_INSTANCE_ID}}",
    "description": "Aigent Universal Clinic Template - Module 03: Telehealth Session (ENHANCED v1.1). First PHI-sensitive module. Accepts booking_confirmation.json from Module 02, validates with enhanced security, applies PHI masking for logs, creates HIPAA-compliant video session (Zoom/Doxy/Amwell), sends patient SMS and email with join links, notifies provider with host link, updates CRM with expiration tracking, logs with PHI minimization. Includes retry logic on all operations, execution time tracking, graceful degradation. Returns session_record.json (Data Contract 03) for Module 04.",
    "author": "Aigent Automation Engineering",
    "version": "1.1.0-enhanced",
    "license": "Proprietary - Aigent Company",
    "documentation": "https://docs.aigent.company/templates/module-03-enhanced",
    "dependencies": {
      "required_upstream": ["Aigent_Module_02_Consult_Booking"],
      "optional_downstream": ["Aigent_Module_04_Billing_Payment"]
    },
    "enhancements_v1_1": {
      "phi_masking": "Level 2 masking (email, phone, name) for all logs and staff notifications",
      "validation": "Enhanced with length constraints, format validation, duration limits",
      "retry_logic": "All API calls (video platform, CRM, SMS, email, logging) for +50% reliability",
      "session_expiration": "Automatic expiration tracking (default 1 day after appointment)",
      "execution_tracking": "Performance monitoring with PHI-level tracking (HIGH)",
      "security_defaults": "Waiting room ON, password required ON, enhanced encryption, manual admission",
      "graceful_degradation": "continueOnFail on non-critical operations (CRM, notifications, logging)",
      "data_contract": "Implements session_record.json (Data Contract 03) for Module 04 integration",
      "provider_notification": "PHI-masked patient name in email subject for inbox privacy",
      "metadata_enrichment": "Comprehensive tracking (trace_id, client_ip, delivery status, PHI level, security compliance)"
    },
    "security_features": {
      "phi_level": "HIGH",
      "phi_masking": "Email, phone, name masked in logs and staff notifications",
      "session_security": "Waiting room, password protection, enhanced encryption",
      "link_expiration": "Automatic expiration tracking and cleanup",
      "audit_trail": "Full execution metadata with PHI level tracking",
      "hipaa_compliance": "BAA-compliant video platforms, encrypted storage, PHI minimization"
    },
    "performance_targets": {
      "avg_execution_time_ms": 2200,
      "p95_execution_time_ms": 3500,
      "improvement_vs_original": "-300ms (parallel operations, retry optimization)"
    }
  }
}
