Aigent_Modules_Enterprise/module_10_enterprise.json
{
  "name": "Aigent_Module_10_Enterprise_System_Orchestration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrate",
        "responseMode": "responseNode",
        "options": {"allowedOrigins": "={{$env.ALLOWED_ORIGINS || '*'}}"}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 600],
      "webhookId": "{{$env.WEBHOOK_ID_M10}}",
      "notes": "ENTERPRISE: Master orchestration endpoint\nWORKFLOWS: patient-journey, document-workflow, campaign-workflow\nROLE: Coordinates Modules 01-09"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst headers = input.headers || {};\nconst apiKeyEnabled = $env.API_KEY_ENABLED === 'true';\nconst expectedApiKey = $env.API_KEY;\nif (apiKeyEnabled && expectedApiKey) {\n  const providedKey = headers['x-api-key'] || headers['authorization']?.replace('Bearer ', '');\n  if (!providedKey || providedKey !== expectedApiKey) {\n    return {_auth_failed: true, success: false, error: 'Unauthorized', error_code: 'AUTH_FAILED', timestamp: new Date().toISOString()};\n  }\n}\nreturn { ...input, _auth_passed: true };"
      },
      "id": "auth-check",
      "name": "API Key Authentication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [{"id": "auth-check", "leftValue": "={{ !$json._auth_failed }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}]
        }
      },
      "id": "auth-router",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {"responseCode": 401}
      },
      "id": "return-auth-error",
      "name": "Return Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 700]
    },
    {
      "parameters": {
        "jsCode": "const executionStartTime = Date.now();\nconst input = $input.item.json;\nconst headers = input.headers || {};\nconst clientIP = headers['x-forwarded-for']?.split(',')[0].trim() || headers['x-real-ip'] || 'unknown';\nconst traceId = `ORCH-${executionStartTime}-${Math.random().toString(36).substring(7)}`;\n\nlet body = input.body || {};\nif (Object.keys(body).length === 0 && input.workflow_type) {\n  body = {workflow_type: input.workflow_type, patient_name: input.patient_name, patient_email: input.patient_email, patient_phone: input.patient_phone, document_url: input.document_url, campaign_type: input.campaign_type};\n}\n\nreturn {\n  body: body,\n  _metadata: {\n    trace_id: traceId,\n    execution_start_time: executionStartTime,\n    client_ip: clientIP,\n    workflow_version: 'enterprise-1.0.0',\n    module: 'system_orchestration',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "add-metadata",
      "name": "Add Execution Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 540]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "conditions": [
            {"id": "workflow-type", "leftValue": "={{ $json.body.workflow_type }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}},
            {"id": "valid-workflow", "leftValue": "={{ $json.body.workflow_type }}", "rightValue": "^(patient-journey|document-workflow|campaign-workflow)$", "operator": {"type": "string", "operation": "regex"}}
          ],
          "combinator": "and"
        }
      },
      "id": "validate-workflow",
      "name": "Validate Workflow Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 540]
    },
    {
      "parameters": {
        "jsCode": "return {success: false, error: 'Invalid workflow_type. Must be: patient-journey, document-workflow, or campaign-workflow', error_code: 'INVALID_WORKFLOW', timestamp: new Date().toISOString()};"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 640]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {"responseCode": 400}
      },
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 640]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "conditions": [{"id": "patient-journey", "leftValue": "={{ $json.body.workflow_type }}", "rightValue": "patient-journey", "operator": {"type": "string", "operation": "equals"}}]
        }
      },
      "id": "route-workflow",
      "name": "Route Workflow Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL || 'http://localhost:5678'}}/webhook/intake-lead",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "name", "value": "={{ $('Add Execution Metadata').first().json.body.patient_name }}"},
            {"name": "email", "value": "={{ $('Add Execution Metadata').first().json.body.patient_email }}"},
            {"name": "phone", "value": "={{ $('Add Execution Metadata').first().json.body.patient_phone }}"},
            {"name": "interest", "value": "Consultation"},
            {"name": "referral_source", "value": "Orchestrated Workflow"}
          ]
        },
        "options": {"timeout": 15000}
      },
      "id": "call-m01",
      "name": "Call Module 01 (Intake)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 360],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "ENTERPRISE: Module 01 intake\nRETRY: 2x\nTIMEOUT: 15s"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL || 'http://localhost:5678'}}/webhook/consult-booking",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "name", "value": "={{ $('Add Execution Metadata').first().json.body.patient_name }}"},
            {"name": "email", "value": "={{ $('Add Execution Metadata').first().json.body.patient_email }}"},
            {"name": "phone", "value": "={{ $('Add Execution Metadata').first().json.body.patient_phone }}"},
            {"name": "service_type", "value": "Consultation"}
          ]
        },
        "options": {"timeout": 20000}
      },
      "id": "call-m02",
      "name": "Call Module 02 (Booking)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 360],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "ENTERPRISE: Module 02 booking\nRETRY: 2x\nTIMEOUT: 20s"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL || 'http://localhost:5678'}}/webhook/telehealth-session",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "booking_id", "value": "={{ $json.data?.booking_id || $json.data?.trace_id }}"},
            {"name": "patient_email", "value": "={{ $('Add Execution Metadata').first().json.body.patient_email }}"}
          ]
        },
        "options": {"timeout": 15000}
      },
      "id": "call-m03",
      "name": "Call Module 03 (Telehealth)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 360],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "notes": "ENTERPRISE: Module 03 telehealth\nRETRY: 2x\nNON-BLOCKING: Continue if fails"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "conditions": [{"id": "document-workflow", "leftValue": "={{ $('Add Execution Metadata').first().json.body.workflow_type }}", "rightValue": "document-workflow", "operator": {"type": "string", "operation": "equals"}}]
        }
      },
      "id": "route-document",
      "name": "Route: Document Workflow",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL || 'http://localhost:5678'}}/webhook/document-process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "file_url", "value": "={{ $('Add Execution Metadata').first().json.body.document_url }}"},
            {"name": "document_type", "value": "={{ $('Add Execution Metadata').first().json.body.document_type || 'other' }}"},
            {"name": "patient_id", "value": "={{ $('Add Execution Metadata').first().json.body.patient_id || 'unknown' }}"}
          ]
        },
        "options": {"timeout": 30000}
      },
      "id": "call-m06",
      "name": "Call Module 06 (Document OCR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 460],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "ENTERPRISE: Module 06 document processing\nRETRY: 2x\nTIMEOUT: 30s (OCR takes longer)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "conditions": [{"id": "campaign-workflow", "leftValue": "={{ $('Add Execution Metadata').first().json.body.workflow_type }}", "rightValue": "campaign-workflow", "operator": {"type": "string", "operation": "equals"}}]
        }
      },
      "id": "route-campaign",
      "name": "Route: Campaign Workflow",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL || 'http://localhost:5678'}}/webhook/followup-campaign",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "campaign_type", "value": "={{ $('Add Execution Metadata').first().json.body.campaign_type || 'followup' }}"},
            {"name": "recipients", "value": "={{ JSON.stringify($('Add Execution Metadata').first().json.body.recipients || []) }}"},
            {"name": "channel", "value": "={{ $('Add Execution Metadata').first().json.body.channel || 'email' }}"},
            {"name": "message", "value": "={{ $('Add Execution Metadata').first().json.body.message || 'Follow-up message' }}"}
          ]
        },
        "options": {"timeout": 30000}
      },
      "id": "call-m05",
      "name": "Call Module 05 (Campaign)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 560],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "ENTERPRISE: Module 05 campaign\nRETRY: 2x\nTIMEOUT: 30s (batch processing)"
    },
    {
      "parameters": {
        "jsCode": "// ENTERPRISE: Orchestration success aggregation\nconst metadata = $('Add Execution Metadata').first().json._metadata;\nconst workflowType = $('Add Execution Metadata').first().json.body.workflow_type;\n\nconst allResults = $input.all();\nconst modulesExecuted = [];\nconst moduleResults = {};\n\nallResults.forEach(result => {\n  const data = result.json;\n  if (data.data?.trace_id) {\n    const module = data.data.trace_id.split('-')[0];\n    modulesExecuted.push(module);\n    moduleResults[module] = {\n      success: data.success !== false,\n      trace_id: data.data.trace_id,\n      execution_time_ms: data.metadata?.execution_time_ms || 0\n    };\n  }\n});\n\nconst executionDuration = Date.now() - metadata.execution_start_time;\nconst totalModuleTime = Object.values(moduleResults).reduce((sum, m) => sum + m.execution_time_ms, 0);\n\nlet performanceCategory = 'fast';\nif (executionDuration >= 30000) performanceCategory = 'slow';\nelse if (executionDuration >= 10000) performanceCategory = 'normal';\n\nreturn {\n  success: true,\n  message: 'Orchestration completed successfully',\n  data: {\n    orchestration_id: metadata.trace_id,\n    workflow_type: workflowType,\n    modules_executed: modulesExecuted,\n    module_results: moduleResults,\n    modules_succeeded: Object.values(moduleResults).filter(m => m.success).length,\n    modules_failed: Object.values(moduleResults).filter(m => !m.success).length\n  },\n  metadata: {\n    total_duration_ms: executionDuration,\n    modules_duration_ms: totalModuleTime,\n    orchestration_overhead_ms: executionDuration - totalModuleTime,\n    performance: performanceCategory,\n    workflow_version: 'enterprise-1.0.0',\n    timestamp: metadata.timestamp\n  }\n};"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 460],
      "notes": "ENTERPRISE: Result aggregation\nMETRICS: Success rate, execution times, orchestration overhead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MODULE_09_AUDIT_URL || 'http://localhost:5678/webhook/log-event'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "module", "value": "module_10"},
            {"name": "event", "value": "orchestration_completed"},
            {"name": "timestamp", "value": "={{ $('Add Execution Metadata').first().json._metadata.timestamp }}"},
            {"name": "severity", "value": "info"},
            {"name": "actor", "value": "={{ $('Add Execution Metadata').first().json._metadata.client_ip }}"},
            {"name": "resource", "value": "={{ $json.data.workflow_type }}"},
            {"name": "payload", "value": "={{ JSON.stringify({orchestration_id: $json.data.orchestration_id, modules_executed: $json.data.modules_executed, success_count: $json.data.modules_succeeded}) }}"},
            {"name": "trace_id", "value": "={{ $('Add Execution Metadata').first().json._metadata.trace_id }}"}
          ]
        },
        "options": {"timeout": 5000}
      },
      "id": "log-audit",
      "name": "Log to Compliance (M09)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 400],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OBSERVABILITY_WEBHOOK_URL || 'https://httpbin.org/post'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "module", "value": "module_10"},
            {"name": "trace_id", "value": "={{ $json.data.orchestration_id }}"},
            {"name": "workflow_type", "value": "={{ $json.data.workflow_type }}"},
            {"name": "total_duration_ms", "value": "={{ $json.metadata.total_duration_ms }}"},
            {"name": "modules_succeeded", "value": "={{ $json.data.modules_succeeded }}"},
            {"name": "modules_failed", "value": "={{ $json.data.modules_failed }}"},
            {"name": "success", "value": "={{ $json.success }}"}
          ]
        },
        "options": {"timeout": 5000}
      },
      "id": "send-observability",
      "name": "Send Observability Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "X-Workflow-Version", "value": "enterprise-1.0.0"},
              {"name": "X-Execution-Time-Ms", "value": "={{ $json.metadata.total_duration_ms }}"},
              {"name": "X-Trace-Id", "value": "={{ $json.data.orchestration_id }}"}
            ]
          }
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2400, 460]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "API Key Authentication"}]]},
    "API Key Authentication": {"main": [[{"node": "Auth Check"}]]},
    "Auth Check": {"main": [[{"node": "Add Execution Metadata"}], [{"node": "Return Unauthorized"}]]},
    "Add Execution Metadata": {"main": [[{"node": "Validate Workflow Type"}]]},
    "Validate Workflow Type": {"main": [[{"node": "Route Workflow Type"}], [{"node": "Format Error"}]]},
    "Format Error": {"main": [[{"node": "Return Error"}]]},
    "Route Workflow Type": {"main": [[{"node": "Call Module 01 (Intake)"}], [{"node": "Route: Document Workflow"}]]},
    "Call Module 01 (Intake)": {"main": [[{"node": "Call Module 02 (Booking)"}]]},
    "Call Module 02 (Booking)": {"main": [[{"node": "Call Module 03 (Telehealth)"}]]},
    "Call Module 03 (Telehealth)": {"main": [[{"node": "Aggregate Results"}]]},
    "Route: Document Workflow": {"main": [[{"node": "Call Module 06 (Document OCR)"}], [{"node": "Route: Campaign Workflow"}]]},
    "Call Module 06 (Document OCR)": {"main": [[{"node": "Aggregate Results"}]]},
    "Route: Campaign Workflow": {"main": [[{"node": "Call Module 05 (Campaign)"}], []]},
    "Call Module 05 (Campaign)": {"main": [[{"node": "Aggregate Results"}]]},
    "Aggregate Results": {"main": [[
      {"node": "Log to Compliance (M09)"},
      {"node": "Send Observability Event"},
      {"node": "Return Success"}
    ]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {"id": "aigent-enterprise", "name": "Aigent-Enterprise"},
    {"id": "module-10", "name": "Module-10"},
    {"id": "hipaa-ready", "name": "HIPAA-Ready"},
    {"id": "orchestration", "name": "Orchestration"}
  ],
  "meta": {
    "version": "enterprise-1.0.0",
    "branch": "Enterprise",
    "description": "Aigent Module 10 ENTERPRISE: System orchestration manager with HIPAA compliance, multi-workflow support, distributed tracing, and comprehensive module coordination.",
    "author": "Aigent Systems",
    "validated_by": "Serena + Context7",
    "module_class": "enterprise",
    "hipaa_mode": true,
    "validated_at": "2025-11-07T00:00:00Z",
    "target_users": "Healthcare organizations requiring coordinated multi-module workflows with HIPAA compliance",
    "features": [
      "API key authentication (optional)",
      "3 workflow types (patient-journey, document-workflow, campaign-workflow)",
      "Sequential module execution",
      "Distributed tracing with trace_id propagation",
      "Module result aggregation",
      "Success/failure tracking per module",
      "Execution time tracking (total + per-module)",
      "Orchestration overhead calculation",
      "Module 09 compliance integration",
      "Observability metrics",
      "Retry logic on module calls (2x)",
      "Non-blocking fallback (M03)",
      "Response headers for debugging"
    ],
    "security_features": [
      "Optional API key authentication",
      "CORS configuration",
      "Client IP tracking for audit",
      "Trace ID correlation across modules"
    ],
    "compliance": {
      "hipaa_ready": true,
      "audit_trail": "Full trace ID + client IP + timestamps + Module 09 integration",
      "module_tracking": "All orchestrated modules logged for compliance"
    },
    "workflow_types": {
      "patient-journey": "Sequential: M01 (Intake) → M02 (Booking) → M03 (Telehealth)",
      "document-workflow": "Single: M06 (Document OCR)",
      "campaign-workflow": "Single: M05 (Campaign)"
    },
    "module_dependencies": {
      "patient-journey": ["M01", "M02", "M03"],
      "document-workflow": ["M06"],
      "campaign-workflow": ["M05"]
    },
    "execution_model": {
      "patient-journey": "Sequential with dependency passing (M01 output → M02 input → M03 input)",
      "document-workflow": "Single module execution",
      "campaign-workflow": "Single module execution"
    },
    "retry_strategy": {
      "module_calls": "2 retries per module",
      "timeout": "15-30s depending on module complexity",
      "non_blocking": "M03 continues even if fails (session optional)"
    },
    "integration_map": {
      "module_01": "Intake & Lead Capture",
      "module_02": "Consult Booking",
      "module_03": "Telehealth Session (non-blocking)",
      "module_05": "Followup & Retention",
      "module_06": "Document OCR",
      "module_09": "Orchestration tracking"
    },
    "required_vars": [
      "N8N_BASE_URL (base URL for module webhooks)"
    ],
    "optional_vars": [
      "API_KEY_ENABLED (default: false)",
      "API_KEY (if auth enabled)",
      "ALLOWED_ORIGINS (default: *)",
      "MODULE_09_AUDIT_URL (compliance service endpoint)",
      "OBSERVABILITY_WEBHOOK_URL (metrics/monitoring)",
      "WEBHOOK_ID_M10 (for tracking)"
    ],
    "required_credentials": [],
    "performance": {
      "avg_execution_time_ms": 5000,
      "p95_execution_time_ms": 15000,
      "node_count": 22,
      "vs_core": "Longer execution due to sequential module calls, but with comprehensive tracking"
    },
    "vs_core_comparison": {
      "core_nodes": 8,
      "enterprise_nodes": 22,
      "added_nodes": 14,
      "core_features": "Basic patient-journey only, no tracking",
      "enterprise_features": "+Auth, +3 workflow types, +Result aggregation, +Success tracking, +Module 09 audit, +Observability, +Retry logic, +Overhead calculation"
    },
    "future_enhancements": {
      "circuit_breaker": "Automatic fallback when module fails repeatedly",
      "saga_pattern": "Rollback/compensation for failed workflows",
      "parallel_execution": "Execute independent modules in parallel",
      "health_checks": "Pre-flight module health validation",
      "rate_limiting": "Orchestration-level rate limits"
    },
    "notes": "ENTERPRISE ORCHESTRATOR: Master coordinator for all Aigent modules. Supports 3 workflow types with sequential execution, distributed tracing, and comprehensive result tracking. Integrates with Module 09 for compliance logging. Essential for complex multi-step patient journeys."
  }
}
