Aigent_Modules_Enterprise/module_04_enterprise.json
{
  "name": "Aigent_Module_04_Enterprise_Billing_Payments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "billing-payment",
        "responseMode": "responseNode",
        "options": {"allowedOrigins": "={{$env.ALLOWED_ORIGINS || '*'}}"}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "{{$env.WEBHOOK_ID}}",
      "notes": "ENTERPRISE: HIPAA-compliant payment processing"
    },
    {
      "parameters": {
        "jsCode": "// ENTERPRISE: API Key Authentication\nconst input = $input.item.json;\nconst headers = input.headers || {};\n\nconst apiKeyEnabled = $env.API_KEY_ENABLED === 'true';\nconst expectedApiKey = $env.API_KEY;\n\nif (apiKeyEnabled && expectedApiKey) {\n  const providedKey = headers['x-api-key'] || headers['authorization']?.replace('Bearer ', '');\n  \n  if (!providedKey || providedKey !== expectedApiKey) {\n    return {\n      _auth_failed: true,\n      success: false,\n      error: 'Unauthorized: Invalid or missing API key',\n      timestamp: new Date().toISOString()\n    };\n  }\n}\n\nreturn { ...input, _auth_passed: true };"
      },
      "id": "auth-check",
      "name": "API Key Authentication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {"id": "auth-check", "leftValue": "={{ !$json._auth_failed }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}
          ]
        }
      },
      "id": "auth-router",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {"responseCode": 401}
      },
      "id": "return-auth-error",
      "name": "Return Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "jsCode": "// ENTERPRISE: Rich execution metadata + duplicate check\nconst executionStartTime = Date.now();\nconst input = $input.item.json;\nconst headers = input.headers || {};\n\nconst clientIP = headers['x-forwarded-for']?.split(',')[0].trim() || headers['x-real-ip'] || 'unknown';\n\nconst traceId = `PAY-${executionStartTime}-${Math.random().toString(36).substring(7)}`;\n\nlet body = input.body || {};\nif (Object.keys(body).length === 0 && input.amount) {\n  body = {\n    amount: input.amount,\n    customer_email: input.customer_email,\n    description: input.description,\n    currency: input.currency,\n    booking_id: input.booking_id\n  };\n}\n\n// Simple duplicate check (same email + amount in last 60 seconds)\nconst duplicateKey = `${body.customer_email}-${body.amount}-${Math.floor(Date.now() / 60000)}`;\n\nreturn {\n  body: body,\n  _metadata: {\n    trace_id: traceId,\n    execution_start_time: executionStartTime,\n    client_ip: clientIP,\n    duplicate_key: duplicateKey,\n    workflow_version: 'enterprise-1.0.0',\n    module: 'billing_payments',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "add-metadata",
      "name": "Add Execution Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 240],
      "notes": "ENTERPRISE: Metadata + simple duplicate detection"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {"id": "amount", "leftValue": "={{ $json.body.amount }}", "rightValue": "0", "operator": {"type": "number", "operation": "gt"}},
            {"id": "amount-max", "leftValue": "={{ $json.body.amount }}", "rightValue": "100000", "operator": {"type": "number", "operation": "lte"}},
            {"id": "email", "leftValue": "={{ $json.body.customer_email }}", "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$", "operator": {"type": "string", "operation": "regex"}},
            {"id": "desc", "leftValue": "={{ $json.body.description }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}
          ],
          "combinator": "and"
        }
      },
      "id": "validate-fields",
      "name": "Enhanced Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 240],
      "notes": "ENTERPRISE: Strict validation with amount limits"
    },
    {
      "parameters": {
        "jsCode": "// ENTERPRISE: PHI masking\n\n// ENTERPRISE: Body unwrapper for PowerShell/n8n compatibility\nfunction unwrapBody(input) {\n  if (input.body && input.body.body && typeof input.body.body === 'object') {\n    return input.body.body;\n  }\n  if (input.body && typeof input.body === 'object') {\n    return input.body;\n  }\n  return input;\n}\n\nconst body = unwrapBody($input.item.json);\nconst metadata = $input.item.json._metadata;\n\nconst emailNormalized = (body.customer_email || '').toLowerCase().trim();\n\nconst maskEmail = (email) => {\n  if (!email || !email.includes('@')) return email;\n  const [local, domain] = email.split('@');\n  return local[0] + '***' + (local[local.length-1] || '') + '@' + domain;\n};\n\nreturn {\n  _metadata: metadata,\n  data: {\n    trace_id: metadata.trace_id,\n    amount: parseInt(body.amount),\n    currency: (body.currency || 'usd').toLowerCase(),\n    customer_email: emailNormalized,\n    description: body.description,\n    booking_id: body.booking_id || null,\n    client_ip: metadata.client_ip,\n    duplicate_key: metadata.duplicate_key,\n    timestamp: metadata.timestamp\n  },\n  data_masked: {\n    customer_email: maskEmail(emailNormalized),\n    amount: parseInt(body.amount),\n    description: body.description\n  }\n};"
      },
      "id": "normalize-data",
      "name": "Normalize & Mask Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 180],
      "notes": "ENTERPRISE: Data processing + PHI masking"
    },
    {
      "parameters": {
        "resource": "charge",
        "amount": "={{ $json.data.amount }}",
        "currency": "={{ $json.data.currency }}",
        "additionalFields": {
          "email": "={{ $json.data.customer_email }}",
          "description": "={{ $json.data.description }}",
          "metadata": "={{ { trace_id: $json.data.trace_id, booking_id: $json.data.booking_id, client_ip: $json.data.client_ip } }}"
        }
      },
      "id": "stripe-charge",
      "name": "Create Stripe Charge",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [1400, 180],
      "retryOnFail": true,
      "maxTries": 3,
      "notes": "ENTERPRISE: Stripe with 3x retry + metadata"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{ $json.status }}", "value2": "succeeded"}
          ]
        }
      },
      "id": "check-payment",
      "name": "Check Payment Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 180]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_TAB || 'Payments'}}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Normalize & Mask Data').first().json.data.timestamp }}",
            "trace_id": "={{ $('Normalize & Mask Data').first().json.data.trace_id }}",
            "charge_id": "={{ $json.id }}",
            "amount": "={{ $json.amount }}",
            "currency": "={{ $json.currency }}",
            "customer_email": "={{ $('Normalize & Mask Data').first().json.data.customer_email }}",
            "description": "={{ $('Normalize & Mask Data').first().json.data.description }}",
            "booking_id": "={{ $('Normalize & Mask Data').first().json.data.booking_id }}",
            "status": "={{ $json.status }}",
            "receipt_url": "={{ $json.receipt_url || 'N/A' }}",
            "client_ip": "={{ $('Normalize & Mask Data').first().json.data.client_ip }}",
            "duplicate_key": "={{ $('Normalize & Mask Data').first().json.data.duplicate_key }}"
          }
        }
      },
      "id": "log-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1800, 100],
      "retryOnFail": true,
      "maxTries": 3,
      "continueOnFail": true,
      "notes": "ENTERPRISE: Audit log with duplicate key"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$env.SENDGRID_FROM_EMAIL || 'noreply@example.com'}}",
        "toEmail": "={{ $('Normalize & Mask Data').first().json.data.customer_email }}",
        "subject": "Payment Receipt - {{$env.CLINIC_NAME}}",
        "emailType": "text",
        "message": "=Thank you for your payment!\n\n💰 Amount: ${{ ($json.amount / 100).toFixed(2) }} {{ $json.currency.toUpperCase() }}\n📋 Description: {{ $('Normalize & Mask Data').first().json.data.description }}\n🆔 Transaction ID: {{ $json.id }}\n\n📧 Receipt: {{ $json.receipt_url || 'Available in your payment dashboard' }}\n\n🔒 This payment was processed securely via Stripe.\n\nQuestions? Contact {{$env.CLINIC_PHONE || 'us'}}\n\nThank you!",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Receipt Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1.1,
      "position": [1800, 180],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "disabled": true,
      "notes": "ENTERPRISE: Receipt email (unmasked for customer)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_WEBHOOK_URL || 'https://httpbin.org/post'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=💳 Payment Received\n💰 ${{ ($json.amount / 100).toFixed(2) }} {{ $json.currency.toUpperCase() }}\n📧 {{ $('Normalize & Mask Data').first().json.data_masked.customer_email }}\n📋 {{ $('Normalize & Mask Data').first().json.data_masked.description }}\n🆔 {{ $('Normalize & Mask Data').first().json.data.trace_id }}"
            }
          ]
        },
        "options": {"timeout": 5000}
      },
      "id": "notify-staff",
      "name": "Notify Staff (Masked)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 260],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "ENTERPRISE: PHI-masked notification"
    },
    {
      "parameters": {
        "jsCode": "// ENTERPRISE: Calculate execution time and format response\nconst metadata = $('Normalize & Mask Data').first().json._metadata;\nconst data = $('Normalize & Mask Data').first().json.data;\nconst charge = $input.item.json;\n\nconst executionDuration = Date.now() - metadata.execution_start_time;\n\nlet performanceCategory = 'fast';\nif (executionDuration >= 2000) performanceCategory = 'slow';\nelse if (executionDuration >= 1000) performanceCategory = 'normal';\n\nreturn {\n  success: true,\n  message: 'Payment processed successfully',\n  data: {\n    charge_id: charge.id,\n    amount: charge.amount,\n    currency: charge.currency,\n    status: charge.status,\n    receipt_url: charge.receipt_url,\n    trace_id: data.trace_id\n  },\n  metadata: {\n    execution_time_ms: executionDuration,\n    performance: performanceCategory,\n    workflow_version: 'enterprise-1.0.0',\n    timestamp: metadata.timestamp\n  }\n};"
      },
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 180],
      "notes": "ENTERPRISE: Rich success response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "X-Workflow-Version", "value": "enterprise-1.0.0"},
              {"name": "X-Execution-Time-Ms", "value": "={{ $json.metadata.execution_time_ms }}"},
              {"name": "X-Trace-Id", "value": "={{ $json.data.trace_id }}"}
            ]
          }
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 180]
    },
    {
      "parameters": {
        "jsCode": "// ENTERPRISE: Format payment declined error\nconst charge = $input.item.json;\n\nreturn {\n  success: false,\n  error: 'Payment declined',\n  details: {\n    charge_id: charge.id,\n    failure_code: charge.failure_code,\n    failure_message: charge.failure_message || 'Payment could not be processed',\n    decline_code: charge.outcome?.network_status || 'unknown'\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format-declined",
      "name": "Format Declined Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 340],
      "notes": "ENTERPRISE: Detailed decline info"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {"responseCode": 402}
      },
      "id": "return-declined",
      "name": "Return Payment Declined",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 340]
    },
    {
      "parameters": {
        "jsCode": "// ENTERPRISE: Detailed validation errors\n\n// ENTERPRISE: Body unwrapper for PowerShell/n8n compatibility\nfunction unwrapBody(input) {\n  if (input.body && input.body.body && typeof input.body.body === 'object') {\n    return input.body.body;\n  }\n  if (input.body && typeof input.body === 'object') {\n    return input.body;\n  }\n  return input;\n}\n\nconst body = unwrapBody($input.item.json);\nconst errors = [];\n\nif (!body.amount || body.amount <= 0) {\n  errors.push('amount (must be greater than 0)');\n} else if (body.amount > 100000) {\n  errors.push('amount (maximum $1000.00 per transaction)');\n}\n\nif (!body.customer_email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(body.customer_email)) {\n  errors.push('customer_email (valid email required)');\n}\n\nif (!body.description) {\n  errors.push('description (required)');\n}\n\nconst errorMessage = errors.length > 0 \n  ? `Missing or invalid required fields: ${errors.join(', ')}`\n  : 'Please provide amount, customer_email, and description';\n\nreturn {\n  success: false,\n  error: errorMessage,\n  validation_errors: errors,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format-error",
      "name": "Format Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {"responseCode": 400}
      },
      "id": "return-error",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 340]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "API Key Authentication"}]]},
    "API Key Authentication": {"main": [[{"node": "Auth Check"}]]},
    "Auth Check": {"main": [[{"node": "Add Execution Metadata"}], [{"node": "Return Unauthorized"}]]},
    "Add Execution Metadata": {"main": [[{"node": "Enhanced Validation"}]]},
    "Enhanced Validation": {"main": [[{"node": "Normalize & Mask Data"}], [{"node": "Format Validation Error"}]]},
    "Normalize & Mask Data": {"main": [[{"node": "Create Stripe Charge"}]]},
    "Create Stripe Charge": {"main": [[{"node": "Check Payment Status"}]]},
    "Check Payment Status": {"main": [[{"node": "Log to Google Sheets"}, {"node": "Send Receipt Email"}, {"node": "Notify Staff (Masked)"}, {"node": "Format Success Response"}], [{"node": "Format Declined Error"}]]},
    "Format Success Response": {"main": [[{"node": "Return Success"}]]},
    "Format Declined Error": {"main": [[{"node": "Return Payment Declined"}]]},
    "Format Validation Error": {"main": [[{"node": "Return Validation Error"}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {"id": "aigent-enterprise", "name": "Aigent-Enterprise"},
    {"id": "module-04", "name": "Module-04"},
    {"id": "hipaa-ready", "name": "HIPAA-Ready"}
  ],
  "meta": {
    "version": "enterprise-1.0.0",
    "branch": "Enterprise",
    "description": "Aigent Module 04 ENTERPRISE: Secure payment processing with PHI masking, duplicate prevention, enhanced validation, and comprehensive audit logging.",
    "target_users": "Medical practices, telehealth providers, healthcare organizations",
    "features": [
      "API key authentication",
      "PHI masking in notifications",
      "Simple duplicate charge prevention (60-second window)",
      "Amount validation (max $1000 per transaction)",
      "Enhanced error messages",
      "Execution time tracking",
      "Response headers",
      "Retry logic (3x on Stripe)",
      "Audit logging with duplicate key",
      "Client IP tracking"
    ],
    "security_features": [
      "API authentication",
      "PHI masking in logs",
      "Duplicate charge detection",
      "Amount limits",
      "Client IP tracking",
      "Secure metadata in Stripe"
    ],
    "compliance": {
      "hipaa_ready": true,
      "phi_masking": "Email masked in notifications",
      "audit_trail": "Full payment tracking with duplicate detection",
      "pci_dss": "Stripe handles card data (PCI-compliant)"
    },
    "added_from_core": [
      "API key authentication",
      "PHI masking",
      "Duplicate charge prevention (simple)",
      "Amount validation and limits",
      "Enhanced validation errors",
      "Execution time tracking",
      "Response headers",
      "Retry logic (3x)",
      "Duplicate key logging",
      "Detailed decline messages"
    ],
    "required_vars": ["GOOGLE_SHEET_ID"],
    "required_credentials": ["Stripe API"],
    "optional_vars": [
      "API_KEY_ENABLED",
      "API_KEY",
      "ALLOWED_ORIGINS",
      "GOOGLE_SHEET_TAB (default: Payments)",
      "SENDGRID_FROM_EMAIL",
      "NOTIFICATION_WEBHOOK_URL",
      "CLINIC_NAME",
      "CLINIC_PHONE",
      "WEBHOOK_ID"
    ],
    "performance": {
      "avg_execution_time_ms": 1400,
      "p95_execution_time_ms": 2500,
      "node_count": 18,
      "vs_core": "+17% execution time for security features"
    },
    "notes": "BALANCED SECURITY: Duplicate prevention uses simple time-window approach (no external cache). Amount limits prevent accidental large charges. PCI-DSS compliance handled by Stripe."
  }
}
