04_Billing_Payments/workflow_module_04_enhanced.json
{
  "name": "Aigent Module 04: Billing & Payments Enhanced (v1.1)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "billing-payment",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "={{$env.ALLOWED_ORIGINS}}",
          "rawBody": true
        }
      },
      "id": "webhook-trigger-401",
      "name": "Webhook: Billing Payment Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "module-04-billing-payment"
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 402: ENHANCED VALIDATION WITH COMPREHENSIVE CHECKS\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Multi-layer validation for financial data integrity\n// - Email format + length constraints (max 320 chars)\n// - Amount validation (min $1, max configurable limit, 2 decimal places)\n// - Service code format validation (alphanumeric with dashes)\n// - Currency code validation (ISO 4217 standard)\n// - Idempotency key validation (prevent duplicate charges)\n// \n// Shared Pattern: Enhanced Validation (from Module 01)\n// Module-Specific: Financial data validation, PCI-DSS compliance\n// ═══════════════════════════════════════════════════════════════\n\nconst data = $input.item.json.body;\nconst errors = [];\n\n// Email validation (REQUIRED for receipts)\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!data.patient_email || !emailRegex.test(data.patient_email)) {\n  errors.push('patient_email: required and must be valid email format');\n} else if (data.patient_email.length > 320) {\n  errors.push('patient_email: maximum 320 characters (RFC 5321)');\n}\n\n// Amount validation (CRITICAL for financial integrity)\nconst amount = parseFloat(data.amount);\nconst minAmount = parseFloat($env.MIN_PAYMENT_AMOUNT || 1);\nconst maxAmount = parseFloat($env.MAX_PAYMENT_AMOUNT || 100000);\n\nif (!data.amount || isNaN(amount)) {\n  errors.push('amount: required and must be valid number');\n} else if (amount < minAmount) {\n  errors.push(`amount: minimum charge is $${minAmount}`);\n} else if (amount > maxAmount) {\n  errors.push(`amount: maximum charge is $${maxAmount} (fraud protection)`);\n} else if (!/^\\d+\\.\\d{2}$/.test(data.amount.toString())) {\n  errors.push('amount: must have exactly 2 decimal places (e.g., 150.00)');\n}\n\n// Service description validation\nif (!data.service_description || data.service_description.trim().length === 0) {\n  errors.push('service_description: required');\n} else if (data.service_description.length > 500) {\n  errors.push('service_description: maximum 500 characters');\n}\n\n// Patient ID validation (link to CRM)\nif (!data.patient_id || data.patient_id.trim().length === 0) {\n  errors.push('patient_id: required for CRM linking');\n}\n\n// Currency validation (ISO 4217)\nconst validCurrencies = ['USD', 'CAD', 'EUR', 'GBP', 'AUD'];\nconst currency = (data.currency || 'USD').toUpperCase();\nif (!validCurrencies.includes(currency)) {\n  errors.push(`currency: must be one of ${validCurrencies.join(', ')}`);\n}\n\n// Billing mode validation\nconst validModes = ['charge_now', 'invoice_link'];\nconst billingMode = data.billing_mode || 'invoice_link';\nif (!validModes.includes(billingMode)) {\n  errors.push(`billing_mode: must be one of ${validModes.join(', ')}`);\n}\n\n// Invoice reference validation (idempotency key)\nif (!data.invoice_reference || data.invoice_reference.trim().length === 0) {\n  errors.push('invoice_reference: required for duplicate prevention');\n} else if (!/^[A-Z0-9\\-]+$/.test(data.invoice_reference)) {\n  errors.push('invoice_reference: must be alphanumeric with dashes only');\n}\n\n// Payment gateway validation\nconst validGateways = ['stripe', 'square'];\nconst gateway = (data.payment_gateway || $env.DEFAULT_PAYMENT_GATEWAY || 'stripe').toLowerCase();\nif (!validGateways.includes(gateway)) {\n  errors.push(`payment_gateway: must be one of ${validGateways.join(', ')}`);\n}\n\n// Return validation results\nif (errors.length > 0) {\n  return {\n    json: {\n      validation_passed: false,\n      errors: errors,\n      validated_at: new Date().toISOString()\n    }\n  };\n}\n\nreturn {\n  json: {\n    validation_passed: true,\n    validated_data: {\n      patient_email: data.patient_email.trim().toLowerCase(),\n      patient_id: data.patient_id.trim(),\n      amount: amount.toFixed(2),\n      currency: currency,\n      service_description: data.service_description.trim(),\n      invoice_reference: data.invoice_reference.trim(),\n      billing_mode: billingMode,\n      payment_gateway: gateway,\n      patient_name: data.patient_name?.trim() || 'Patient',\n      metadata: data.metadata || {}\n    },\n    validated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "code-node-402",
      "name": "Enhanced Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.validation_passed}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-node-403",
      "name": "Validation Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 404: FRAUD DETECTION & VELOCITY CHECKS\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Multi-layer fraud prevention for payment security\n// - Velocity abuse detection (max attempts per customer per hour)\n// - Amount pattern analysis (too many identical amounts)\n// - Suspicious email domain blocking (disposable email services)\n// - Geographic anomaly detection (framework ready)\n// \n// Module-Specific: Financial fraud prevention, PCI-DSS compliance\n// Shared Pattern: Risk scoring algorithm (adapted from Module 01)\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\nconst data = $json.validated_data;\nconst fraudChecks = [];\nlet riskScore = 0;\nlet fraudDetected = false;\n\n// Check 1: Disposable email domain blocking\nconst disposableDomains = [\n  'tempmail.com', 'guerrillamail.com', '10minutemail.com', \n  'throwaway.email', 'mailinator.com', 'trash-mail.com'\n];\nconst emailDomain = data.patient_email.split('@')[1];\nif (disposableDomains.includes(emailDomain)) {\n  fraudChecks.push('BLOCKED: Disposable email domain detected');\n  riskScore += 50;\n  fraudDetected = true;\n}\n\n// Check 2: Amount pattern analysis\nconst amount = parseFloat(data.amount);\nconst suspiciousAmounts = [0.01, 1.00, 9999.99, 10000.00];\nif (suspiciousAmounts.includes(amount)) {\n  fraudChecks.push('WARNING: Suspicious amount pattern (common test value)');\n  riskScore += 20;\n}\n\n// Check 3: Velocity abuse detection (framework - requires external cache)\n// In production, check Redis/cache for recent charges from same patient_id\nconst enableVelocityCheck = $env.ENABLE_VELOCITY_CHECK === 'true';\nif (enableVelocityCheck) {\n  // Framework placeholder - implement with Redis/database query\n  fraudChecks.push('INFO: Velocity check enabled (requires cache implementation)');\n}\n\n// Check 4: High-value transaction flag\nconst highValueThreshold = parseFloat($env.HIGH_VALUE_THRESHOLD || 5000);\nif (amount >= highValueThreshold) {\n  fraudChecks.push(`REVIEW: High-value transaction ($${amount}) - manual review recommended`);\n  riskScore += 15;\n}\n\n// Check 5: Currency mismatch detection\nconst expectedCurrency = $env.DEFAULT_CURRENCY || 'USD';\nif (data.currency !== expectedCurrency) {\n  fraudChecks.push(`WARNING: Non-default currency (${data.currency}) - verify intent`);\n  riskScore += 10;\n}\n\n// Risk score categorization\nlet riskLevel = 'LOW';\nif (riskScore >= 50) {\n  riskLevel = 'CRITICAL';\n  fraudDetected = true;\n} else if (riskScore >= 30) {\n  riskLevel = 'HIGH';\n} else if (riskScore >= 15) {\n  riskLevel = 'MEDIUM';\n}\n\nreturn {\n  json: {\n    fraud_check_passed: !fraudDetected,\n    risk_score: riskScore,\n    risk_level: riskLevel,\n    fraud_checks: fraudChecks,\n    validated_data: data,\n    checked_at: DateTime.now().toISO()\n  }\n};"
      },
      "id": "code-node-404",
      "name": "Fraud Detection & Velocity Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.fraud_check_passed}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-node-405",
      "name": "Fraud Check Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 406: IDEMPOTENCY CHECK (DUPLICATE PREVENTION)\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Prevent duplicate charges from retry attempts\n// - Check if invoice_reference already processed\n// - Time window: Last 24 hours (configurable)\n// - Framework ready for Redis/database implementation\n// \n// Shared Pattern: Duplicate Prevention (from Module 02)\n// Module-Specific: Financial transaction idempotency (PCI-DSS best practice)\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\nconst data = $json.validated_data;\n\n// Idempotency configuration\nconst enableIdempotencyCheck = $env.ENABLE_IDEMPOTENCY_CHECK === 'true';\nconst idempotencyWindowHours = parseInt($env.IDEMPOTENCY_WINDOW_HOURS || 24);\n\nif (!enableIdempotencyCheck) {\n  return {\n    json: {\n      idempotency_check_passed: true,\n      duplicate_detected: false,\n      reason: 'Idempotency check disabled',\n      validated_data: data\n    }\n  };\n}\n\n// Framework placeholder - In production:\n// 1. Query database/Redis for invoice_reference\n// 2. Check if created within time window\n// 3. If found, return existing transaction details\n//\n// Example query:\n// SELECT * FROM invoices \n// WHERE invoice_reference = '{{invoice_reference}}'\n// AND created_at > NOW() - INTERVAL {{hours}} HOUR\n\nconst duplicateDetected = false; // Placeholder - implement with actual query\n\nreturn {\n  json: {\n    idempotency_check_passed: !duplicateDetected,\n    duplicate_detected: duplicateDetected,\n    invoice_reference: data.invoice_reference,\n    window_hours: idempotencyWindowHours,\n    checked_at: DateTime.now().toISO(),\n    validated_data: data\n  }\n};"
      },
      "id": "code-node-406",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.duplicate_detected}}",
              "value2": false
            }
          ]
        }
      },
      "id": "if-node-407",
      "name": "Not Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1440, 100]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 408: PREPARE BILLING DATA WITH PHI MASKING\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Financial data preparation with security masking\n// - Generate trace ID for end-to-end tracking\n// - PHI masking for logs (email, customer data)\n// - Prepare gateway-specific payload structure\n// - Add metadata enrichment (timestamps, source, version)\n// \n// Shared Pattern: Execution Time Tracking + PHI Masking (Module 03)\n// Module-Specific: Payment gateway data transformation\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\nconst data = $json.validated_data;\n\n// Generate trace ID for observability\nconst timestamp = DateTime.now().toMillis();\nconst traceId = `PAY-${timestamp}`;\n\n// PHI masking functions for secure logging\nfunction maskEmail(email) {\n  const [local, domain] = email.split('@');\n  if (local.length <= 2) return `**@${domain}`;\n  const maskedLocal = local.charAt(0) + '***' + local.charAt(local.length - 1);\n  return `${maskedLocal}@${domain}`;\n}\n\nfunction maskName(name) {\n  const parts = name.split(' ');\n  return parts.map(part => {\n    if (part.length <= 1) return '*';\n    return part.charAt(0) + '***';\n  }).join(' ');\n}\n\n// Start execution timer\nconst executionStartTime = DateTime.now().toMillis();\n\n// Prepare billing payload\nconst billingData = {\n  trace_id: traceId,\n  customer: {\n    email: data.patient_email,\n    name: data.patient_name,\n    patient_id: data.patient_id,\n    metadata: {\n      source: 'aigent_module_04',\n      patient_id: data.patient_id,\n      ...data.metadata\n    }\n  },\n  invoice: {\n    reference: data.invoice_reference,\n    amount: data.amount,\n    currency: data.currency,\n    description: data.service_description,\n    billing_mode: data.billing_mode\n  },\n  gateway: data.payment_gateway,\n  created_at: DateTime.now().toISO(),\n  execution_start_time: executionStartTime\n};\n\n// Masked data for logs (PCI-DSS compliance)\nconst maskedData = {\n  trace_id: traceId,\n  customer_email_masked: maskEmail(data.patient_email),\n  customer_name_masked: maskName(data.patient_name),\n  patient_id: data.patient_id,\n  amount: data.amount,\n  currency: data.currency,\n  invoice_reference: data.invoice_reference,\n  gateway: data.payment_gateway\n};\n\nreturn {\n  json: {\n    billing_data: billingData,\n    masked_data: maskedData,\n    trace_id: traceId,\n    execution_start_time: executionStartTime\n  }\n};"
      },
      "id": "code-node-408",
      "name": "Prepare Billing Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 0]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 409: LOOKUP CUSTOMER IN PAYMENT GATEWAY\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Intelligent customer lookup with retry logic\n// - Search by email in Stripe/Square customer database\n// - Retry configuration: 3 attempts, 1s delay, exponential backoff\n// - Handle rate limiting and transient failures\n// - Cache-friendly (returns customer_id for reuse)\n// \n// Shared Pattern: Retry Logic (from Module 02)\n// Module-Specific: Payment gateway customer management\n// ═══════════════════════════════════════════════════════════════\n\nconst data = $json.billing_data;\nconst gateway = data.gateway;\n\n// Gateway-specific customer lookup configuration\nconst lookupConfig = {\n  stripe: {\n    credential: 'stripeApi',\n    endpoint: '/v1/customers',\n    method: 'GET',\n    queryParams: { email: data.customer.email, limit: 1 }\n  },\n  square: {\n    credential: 'squareApi',\n    endpoint: '/v2/customers/search',\n    method: 'POST',\n    body: {\n      query: {\n        filter: {\n          email_address: { exact: data.customer.email }\n        }\n      },\n      limit: 1\n    }\n  }\n};\n\nconst config = lookupConfig[gateway];\nif (!config) {\n  throw new Error(`Unsupported payment gateway: ${gateway}`);\n}\n\nreturn {\n  json: {\n    gateway: gateway,\n    lookup_config: config,\n    customer_email: data.customer.email,\n    billing_data: data\n  }\n};"
      },
      "id": "code-node-409",
      "name": "Prepare Customer Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 0]
    },
    {
      "parameters": {
        "method": "={{$json.lookup_config.method}}",
        "url": "={{$json.gateway === 'stripe' ? 'https://api.stripe.com' + $json.lookup_config.endpoint : 'https://connect.squareup.com' + $json.lookup_config.endpoint}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "={{$json.gateway === 'stripe' ? 'stripeApi' : 'squareApi'}}",
        "sendQuery": "={{$json.gateway === 'stripe'}}",
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$json.customer_email}}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendBody": "={{$json.gateway === 'square'}}",
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-node-410",
      "name": "API: Lookup Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2040, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": false
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 411: CHECK CUSTOMER EXISTS\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Parse gateway response and determine next action\n// - Stripe: Check data array length\n// - Square: Check customers array length\n// - Extract customer_id if exists\n// - Route to create customer if not found\n// ═══════════════════════════════════════════════════════════════\n\nconst lookupResponse = $json;\nconst gateway = $('Prepare Customer Lookup').item.json.gateway;\nconst billingData = $('Prepare Customer Lookup').item.json.billing_data;\n\nlet customerExists = false;\nlet customerId = null;\n\n// Parse gateway-specific response\nif (gateway === 'stripe') {\n  customerExists = lookupResponse.data && lookupResponse.data.length > 0;\n  if (customerExists) {\n    customerId = lookupResponse.data[0].id;\n  }\n} else if (gateway === 'square') {\n  customerExists = lookupResponse.customers && lookupResponse.customers.length > 0;\n  if (customerExists) {\n    customerId = lookupResponse.customers[0].id;\n  }\n}\n\nreturn {\n  json: {\n    customer_exists: customerExists,\n    customer_id: customerId,\n    gateway: gateway,\n    billing_data: billingData,\n    lookup_response: lookupResponse\n  }\n};"
      },
      "id": "code-node-411",
      "name": "Check Customer Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.customer_exists}}",
              "value2": false
            }
          ]
        }
      },
      "id": "if-node-412",
      "name": "Need Create Customer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 0]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 413: CREATE CUSTOMER IN PAYMENT GATEWAY\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Create new customer with comprehensive metadata\n// - Retry configuration: 2 attempts, 2s delay\n// - Include patient_id for CRM linking\n// - Add metadata for observability and analytics\n// - PCI-DSS compliant data handling (no sensitive health data)\n// ═══════════════════════════════════════════════════════════════\n\nconst billingData = $json.billing_data;\nconst gateway = $json.gateway;\n\n// Gateway-specific customer creation payload\nconst createConfig = {\n  stripe: {\n    endpoint: '/v1/customers',\n    method: 'POST',\n    body: {\n      email: billingData.customer.email,\n      name: billingData.customer.name,\n      metadata: {\n        patient_id: billingData.customer.patient_id,\n        source: 'aigent_module_04',\n        created_via: 'automated_billing'\n      }\n    }\n  },\n  square: {\n    endpoint: '/v2/customers',\n    method: 'POST',\n    body: {\n      email_address: billingData.customer.email,\n      given_name: billingData.customer.name.split(' ')[0],\n      family_name: billingData.customer.name.split(' ').slice(1).join(' ') || '',\n      reference_id: billingData.customer.patient_id\n    }\n  }\n};\n\nconst config = createConfig[gateway];\n\nreturn {\n  json: {\n    gateway: gateway,\n    create_config: config,\n    billing_data: billingData\n  }\n};"
      },
      "id": "code-node-413",
      "name": "Prepare Create Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.gateway === 'stripe' ? 'https://api.stripe.com' + $json.create_config.endpoint : 'https://connect.squareup.com' + $json.create_config.endpoint}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "={{$json.gateway === 'stripe' ? 'stripeApi' : 'squareApi'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.create_config.body)}}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-node-414",
      "name": "API: Create Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2840, -100],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": false
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 415: EXTRACT CUSTOMER ID\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Parse customer ID from create response\n// - Stripe: id field\n// - Square: customer.id field\n// - Validate customer_id exists before proceeding\n// ═══════════════════════════════════════════════════════════════\n\nconst createResponse = $json;\nconst gateway = $('Prepare Create Customer').item.json.gateway;\nconst billingData = $('Prepare Create Customer').item.json.billing_data;\n\nlet customerId = null;\n\nif (gateway === 'stripe') {\n  customerId = createResponse.id;\n} else if (gateway === 'square') {\n  customerId = createResponse.customer?.id;\n}\n\nif (!customerId) {\n  throw new Error(`Failed to extract customer_id from ${gateway} response`);\n}\n\nreturn {\n  json: {\n    customer_id: customerId,\n    gateway: gateway,\n    billing_data: billingData,\n    create_response: createResponse\n  }\n};"
      },
      "id": "code-node-415",
      "name": "Extract Customer ID (New)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, -100]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-node-416",
      "name": "Merge Customer ID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [2840, 100]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 417: CREATE INVOICE\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Create invoice with comprehensive retry logic\n// - Retry configuration: 2 attempts, 2s delay (financial operation)\n// - Include idempotency key (invoice_reference)\n// - Gateway-specific invoice/order creation\n// - Metadata enrichment for tracking and analytics\n// \n// Shared Pattern: Retry Logic (from Module 02)\n// Module-Specific: Payment gateway invoice creation\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\nconst customerId = $json.customer_id;\nconst gateway = $json.gateway;\nconst billingData = $json.billing_data;\nconst invoice = billingData.invoice;\n\n// Calculate amounts (in cents for Stripe, cents for Square)\nconst amountCents = Math.round(parseFloat(invoice.amount) * 100);\n\n// Gateway-specific invoice creation payload\nconst invoiceConfig = {\n  stripe: {\n    endpoint: '/v1/invoices',\n    method: 'POST',\n    body: {\n      customer: customerId,\n      description: invoice.description,\n      currency: invoice.currency.toLowerCase(),\n      metadata: {\n        invoice_reference: invoice.reference,\n        patient_id: billingData.customer.patient_id,\n        trace_id: billingData.trace_id,\n        source: 'aigent_module_04'\n      },\n      auto_advance: invoice.billing_mode === 'charge_now'\n    }\n  },\n  square: {\n    endpoint: '/v2/invoices',\n    method: 'POST',\n    body: {\n      invoice: {\n        location_id: $env.SQUARE_LOCATION_ID,\n        order_id: null, // Will create order first\n        primary_recipient: {\n          customer_id: customerId\n        },\n        payment_requests: [\n          {\n            request_type: invoice.billing_mode === 'charge_now' ? 'BALANCE' : 'DEPOSIT',\n            due_date: DateTime.now().plus({ days: 7 }).toISODate()\n          }\n        ],\n        delivery_method: 'EMAIL',\n        invoice_number: invoice.reference,\n        description: invoice.description\n      },\n      idempotency_key: invoice.reference\n    }\n  }\n};\n\nconst config = invoiceConfig[gateway];\n\nreturn {\n  json: {\n    gateway: gateway,\n    customer_id: customerId,\n    invoice_config: config,\n    amount_cents: amountCents,\n    invoice_data: invoice,\n    billing_data: billingData\n  }\n};"
      },
      "id": "code-node-417",
      "name": "Prepare Invoice Creation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.gateway === 'stripe' ? 'https://api.stripe.com' + $json.invoice_config.endpoint : 'https://connect.squareup.com' + $json.invoice_config.endpoint}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "={{$json.gateway === 'stripe' ? 'stripeApi' : 'squareApi'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.invoice_config.body)}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-node-418",
      "name": "API: Create Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3240, 100],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": false
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 419: ADD INVOICE LINE ITEM (STRIPE ONLY)\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Add line item to Stripe invoice\n// - Retry configuration: 2 attempts, 1s delay\n// - Square handles line items during order creation\n// - Skip for Square gateway (pass-through)\n// ═══════════════════════════════════════════════════════════════\n\nconst invoiceResponse = $json;\nconst gateway = $('Prepare Invoice Creation').item.json.gateway;\nconst amountCents = $('Prepare Invoice Creation').item.json.amount_cents;\nconst invoiceData = $('Prepare Invoice Creation').item.json.invoice_data;\nconst billingData = $('Prepare Invoice Creation').item.json.billing_data;\n\nif (gateway === 'square') {\n  // Square doesn't need separate line item - handled in order creation\n  return {\n    json: {\n      gateway: gateway,\n      invoice_id: invoiceResponse.invoice?.id,\n      skip_line_item: true,\n      invoice_response: invoiceResponse,\n      billing_data: billingData\n    }\n  };\n}\n\n// Stripe line item configuration\nconst invoiceId = invoiceResponse.id;\n\nreturn {\n  json: {\n    gateway: gateway,\n    invoice_id: invoiceId,\n    skip_line_item: false,\n    line_item_config: {\n      endpoint: '/v1/invoiceitems',\n      method: 'POST',\n      body: {\n        customer: billingData.customer.email,\n        invoice: invoiceId,\n        amount: amountCents,\n        currency: invoiceData.currency.toLowerCase(),\n        description: invoiceData.description\n      }\n    },\n    billing_data: billingData\n  }\n};"
      },
      "id": "code-node-419",
      "name": "Prepare Line Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3440, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip_line_item}}",
              "value2": false
            }
          ]
        }
      },
      "id": "if-node-420",
      "name": "Need Add Line Item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3640, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/invoiceitems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.line_item_config.body)}}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-node-421",
      "name": "API: Add Line Item (Stripe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3840, 0],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-node-422",
      "name": "Merge Line Item",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [4040, 100]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 423: FINALIZE INVOICE (STRIPE) OR PUBLISH (SQUARE)\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Make invoice ready for payment\n// - Stripe: Finalize invoice (makes it immutable)\n// - Square: Publish invoice (sends to customer)\n// - Retry configuration: 2 attempts, 2s delay\n// ═══════════════════════════════════════════════════════════════\n\nconst gateway = $json.gateway;\nconst invoiceId = $json.invoice_id;\nconst billingData = $json.billing_data;\nconst billingMode = billingData.invoice.billing_mode;\n\n// Gateway-specific finalize configuration\nconst finalizeConfig = {\n  stripe: {\n    endpoint: `/v1/invoices/${invoiceId}/finalize`,\n    method: 'POST',\n    body: {}\n  },\n  square: {\n    endpoint: `/v2/invoices/${invoiceId}/publish`,\n    method: 'POST',\n    body: {\n      version: 0\n    }\n  }\n};\n\nconst config = finalizeConfig[gateway];\n\nreturn {\n  json: {\n    gateway: gateway,\n    invoice_id: invoiceId,\n    finalize_config: config,\n    billing_mode: billingMode,\n    billing_data: billingData\n  }\n};"
      },
      "id": "code-node-423",
      "name": "Prepare Finalize Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4240, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.gateway === 'stripe' ? 'https://api.stripe.com' + $json.finalize_config.endpoint : 'https://connect.squareup.com' + $json.finalize_config.endpoint}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "={{$json.gateway === 'stripe' ? 'stripeApi' : 'squareApi'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.finalize_config.body)}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-node-424",
      "name": "API: Finalize Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [4440, 100],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.billing_mode}}",
              "operation": "equals",
              "value2": "charge_now"
            }
          ]
        }
      },
      "id": "if-node-425",
      "name": "Charge Now Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4640, 100]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 426: CHARGE INVOICE IMMEDIATELY\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Immediate payment processing\n// - Stripe: Pay invoice (charge default payment method)\n// - Square: Charge invoice (process payment)\n// - NO RETRY: Single attempt only (prevent duplicate charges)\n// - Critical operation: Must succeed or fail clearly\n// \n// Module-Specific: Financial transaction execution (PCI-DSS)\n// Security: No retry to prevent double-charging\n// ═══════════════════════════════════════════════════════════════\n\nconst finalizeResponse = $json;\nconst gateway = $('Prepare Finalize Invoice').item.json.gateway;\nconst invoiceId = $('Prepare Finalize Invoice').item.json.invoice_id;\nconst billingData = $('Prepare Finalize Invoice').item.json.billing_data;\n\n// Gateway-specific charge configuration\nconst chargeConfig = {\n  stripe: {\n    endpoint: `/v1/invoices/${invoiceId}/pay`,\n    method: 'POST',\n    body: {\n      paid_out_of_band: false\n    }\n  },\n  square: {\n    endpoint: `/v2/invoices/${invoiceId}/payment`,\n    method: 'POST',\n    body: {\n      payment: {\n        amount_money: {\n          amount: Math.round(parseFloat(billingData.invoice.amount) * 100),\n          currency: billingData.invoice.currency\n        }\n      }\n    }\n  }\n};\n\nconst config = chargeConfig[gateway];\n\nreturn {\n  json: {\n    gateway: gateway,\n    invoice_id: invoiceId,\n    charge_config: config,\n    billing_data: billingData\n  }\n};"
      },
      "id": "code-node-426",
      "name": "Prepare Charge Now",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4840, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.gateway === 'stripe' ? 'https://api.stripe.com' + $json.charge_config.endpoint : 'https://connect.squareup.com' + $json.charge_config.endpoint}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "={{$json.gateway === 'stripe' ? 'stripeApi' : 'squareApi'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.charge_config.body)}}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "http-node-427",
      "name": "API: Charge Now",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [5040, 0],
      "retryOnFail": false,
      "continueOnFail": false
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 428: PREPARE PAYMENT RESULT\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Normalize payment response across gateways\n// - Extract payment status, amount, and IDs\n// - Generate hosted invoice URL for invoice_link mode\n// - Prepare data for receipt and accounting sync\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\nconst finalizeResponse = $json;\nconst gateway = $('Prepare Finalize Invoice').item.json.gateway;\nconst billingMode = $('Prepare Finalize Invoice').item.json.billing_mode;\nconst billingData = $('Prepare Finalize Invoice').item.json.billing_data;\n\nlet paymentResult = {};\n\nif (billingMode === 'charge_now') {\n  // Get charge response\n  const chargeResponse = $('API: Charge Now').item.json;\n  \n  if (gateway === 'stripe') {\n    paymentResult = {\n      status: 'paid',\n      payment_id: chargeResponse.id,\n      invoice_id: chargeResponse.invoice,\n      amount_paid: (chargeResponse.amount_paid / 100).toFixed(2),\n      currency: chargeResponse.currency.toUpperCase(),\n      payment_url: chargeResponse.hosted_invoice_url,\n      receipt_url: chargeResponse.invoice_pdf\n    };\n  } else if (gateway === 'square') {\n    paymentResult = {\n      status: 'paid',\n      payment_id: chargeResponse.payment?.id,\n      invoice_id: chargeResponse.invoice?.id,\n      amount_paid: (chargeResponse.payment?.amount_money?.amount / 100).toFixed(2),\n      currency: chargeResponse.payment?.amount_money?.currency,\n      payment_url: chargeResponse.invoice?.public_url,\n      receipt_url: null\n    };\n  }\n} else {\n  // Invoice link mode - return hosted URL\n  if (gateway === 'stripe') {\n    paymentResult = {\n      status: 'pending',\n      invoice_id: finalizeResponse.id,\n      payment_url: finalizeResponse.hosted_invoice_url,\n      amount_due: (finalizeResponse.amount_due / 100).toFixed(2),\n      currency: finalizeResponse.currency.toUpperCase()\n    };\n  } else if (gateway === 'square') {\n    paymentResult = {\n      status: 'pending',\n      invoice_id: finalizeResponse.invoice?.id,\n      payment_url: finalizeResponse.invoice?.public_url,\n      amount_due: (finalizeResponse.invoice?.payment_requests?.[0]?.computed_amount_money?.amount / 100).toFixed(2),\n      currency: finalizeResponse.invoice?.payment_requests?.[0]?.computed_amount_money?.currency\n    };\n  }\n}\n\nreturn {\n  json: {\n    payment_result: paymentResult,\n    billing_mode: billingMode,\n    gateway: gateway,\n    billing_data: billingData,\n    processed_at: DateTime.now().toISO()\n  }\n};"
      },
      "id": "code-node-428",
      "name": "Prepare Payment Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5240, 100]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 429: SYNC TO QUICKBOOKS (PARALLEL BRANCH 1)\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Automated accounting sync with retry logic\n// - Retry configuration: 3 attempts, 2s delay, continueOnFail=true\n// - Create invoice in QuickBooks for record-keeping\n// - Link to customer by patient_id reference\n// - Non-critical: Workflow continues if sync fails\n// \n// Shared Pattern: Retry Logic + Graceful Degradation\n// Module-Specific: Accounting integration\n// ═══════════================================================================\n\nconst paymentResult = $json.payment_result;\nconst billingData = $json.billing_data;\nconst gateway = $json.gateway;\n\n// QuickBooks invoice payload\nconst qboInvoice = {\n  Line: [\n    {\n      Amount: parseFloat(paymentResult.amount_paid || paymentResult.amount_due),\n      DetailType: 'SalesItemLineDetail',\n      SalesItemLineDetail: {\n        ItemRef: {\n          value: $env.QBO_SERVICE_ITEM_ID || '1',\n          name: billingData.invoice.description\n        },\n        UnitPrice: parseFloat(paymentResult.amount_paid || paymentResult.amount_due),\n        Qty: 1\n      }\n    }\n  ],\n  CustomerRef: {\n    value: billingData.customer.patient_id\n  },\n  DocNumber: billingData.invoice.reference,\n  TxnDate: new Date().toISOString().split('T')[0],\n  DueDate: new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0],\n  PrivateNote: `Payment via ${gateway} - ${paymentResult.status}`,\n  CustomField: [\n    {\n      DefinitionId: '1',\n      Name: 'payment_gateway',\n      StringValue: gateway\n    },\n    {\n      DefinitionId: '2',\n      Name: 'trace_id',\n      StringValue: billingData.trace_id\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qbo_invoice: qboInvoice,\n    payment_result: paymentResult,\n    billing_data: billingData\n  }\n};"
      },
      "id": "code-node-429",
      "name": "Prepare QuickBooks Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.QBO_API_URL}}/v3/company/{{$env.QBO_COMPANY_ID}}/invoice",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "quickBooksOAuthApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.qbo_invoice)}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-node-430",
      "name": "API: Sync QuickBooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [5640, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 431: SEND RECEIPT EMAIL (PARALLEL BRANCH 2)\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Professional receipt email with retry logic\n// - Retry configuration: 2 attempts, 500ms delay, continueOnFail=true\n// - Dynamic content based on billing_mode (paid vs pending)\n// - Include payment/invoice URL for customer access\n// - PHI masking in email subject (patient name masked)\n// \n// Shared Pattern: Retry Logic + PHI Masking (Module 03)\n// Module-Specific: Financial receipt delivery\n// ═══════════════════════════════════════════════════════════════\n\nconst paymentResult = $json.payment_result;\nconst billingData = $json.billing_data;\nconst billingMode = $json.billing_mode;\n\n// PHI masking for subject line\nfunction maskName(name) {\n  const parts = name.split(' ');\n  return parts.map(part => part.charAt(0) + '***').join(' ');\n}\n\nconst enablePhiMasking = $env.ENABLE_PHI_MASKING === 'true';\nconst displayName = enablePhiMasking ? maskName(billingData.customer.name) : billingData.customer.name;\n\n// Email content based on billing mode\nlet subject, htmlBody;\n\nif (billingMode === 'charge_now') {\n  subject = `Payment Receipt - ${displayName} - $${paymentResult.amount_paid}`;\n  htmlBody = `\n    <h2>Payment Receipt</h2>\n    <p>Dear ${billingData.customer.name},</p>\n    <p>Your payment has been successfully processed.</p>\n    \n    <h3>Payment Details:</h3>\n    <ul>\n      <li><strong>Amount Paid:</strong> $${paymentResult.amount_paid} ${paymentResult.currency}</li>\n      <li><strong>Service:</strong> ${billingData.invoice.description}</li>\n      <li><strong>Invoice Reference:</strong> ${billingData.invoice.reference}</li>\n      <li><strong>Payment ID:</strong> ${paymentResult.payment_id}</li>\n      <li><strong>Date:</strong> ${new Date().toLocaleDateString()}</li>\n    </ul>\n    \n    ${paymentResult.receipt_url ? `<p><a href=\"${paymentResult.receipt_url}\">Download Receipt PDF</a></p>` : ''}\n    \n    <p>Thank you for your payment!</p>\n    <p><em>This is an automated message from Aigent Billing System.</em></p>\n  `;\n} else {\n  subject = `Invoice Ready - ${displayName} - $${paymentResult.amount_due}`;\n  htmlBody = `\n    <h2>Invoice Ready for Payment</h2>\n    <p>Dear ${billingData.customer.name},</p>\n    <p>Your invoice is ready for payment.</p>\n    \n    <h3>Invoice Details:</h3>\n    <ul>\n      <li><strong>Amount Due:</strong> $${paymentResult.amount_due} ${paymentResult.currency}</li>\n      <li><strong>Service:</strong> ${billingData.invoice.description}</li>\n      <li><strong>Invoice Reference:</strong> ${billingData.invoice.reference}</li>\n      <li><strong>Invoice ID:</strong> ${paymentResult.invoice_id}</li>\n    </ul>\n    \n    <p><a href=\"${paymentResult.payment_url}\" style=\"background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;\">Pay Invoice Now</a></p>\n    \n    <p>If you have any questions, please contact our billing department.</p>\n    <p><em>This is an automated message from Aigent Billing System.</em></p>\n  `;\n}\n\nreturn {\n  json: {\n    to: billingData.customer.email,\n    subject: subject,\n    html: htmlBody,\n    from: $env.SENDGRID_FROM_EMAIL || 'billing@clinic.com',\n    payment_result: paymentResult,\n    billing_data: billingData\n  }\n};"
      },
      "id": "code-node-431",
      "name": "Prepare Receipt Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5440, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendGridApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [\n    {\n      \"to\": [{\"email\": \"{{$json.to}}\"}]\n    }\n  ],\n  \"from\": {\"email\": \"{{$json.from}}\"},\n  \"subject\": \"{{$json.subject}}\",\n  \"content\": [\n    {\n      \"type\": \"text/html\",\n      \"value\": {{JSON.stringify($json.html)}}\n    }\n  ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-node-432",
      "name": "API: Send Receipt Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [5640, 100],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 433: SEND RECEIPT SMS (PARALLEL BRANCH 3)\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: SMS receipt notification with retry logic\n// - Retry configuration: 2 attempts, 500ms delay, continueOnFail=true\n// - Concise message for SMS format (160 char limit awareness)\n// - Include short payment/invoice URL\n// - Optional: Can be disabled via environment variable\n// \n// Shared Pattern: Retry Logic + Phone Normalization (Module 01)\n// Module-Specific: Financial notification via SMS\n// ═══════════════════════════════════════════════════════════════\n\nconst paymentResult = $json.payment_result;\nconst billingData = $json.billing_data;\nconst billingMode = $json.billing_mode;\n\n// Check if SMS notification is enabled\nconst enableSms = $env.ENABLE_RECEIPT_SMS !== 'false'; // Default true\n\nif (!enableSms) {\n  return {\n    json: {\n      sms_enabled: false,\n      skip_sms: true\n    }\n  };\n}\n\n// Get patient phone from metadata (if available)\nconst patientPhone = billingData.customer.metadata?.phone || $env.DEFAULT_SMS_PHONE;\n\nif (!patientPhone) {\n  return {\n    json: {\n      sms_enabled: true,\n      skip_sms: true,\n      reason: 'No phone number available'\n    }\n  };\n}\n\n// SMS content based on billing mode\nlet smsBody;\n\nif (billingMode === 'charge_now') {\n  smsBody = `Payment received: $${paymentResult.amount_paid}. Service: ${billingData.invoice.description}. Receipt: ${paymentResult.payment_url || 'Check email'}`;\n} else {\n  smsBody = `Invoice ready: $${paymentResult.amount_due}. Pay here: ${paymentResult.payment_url}. Ref: ${billingData.invoice.reference}`;\n}\n\nreturn {\n  json: {\n    sms_enabled: true,\n    skip_sms: false,\n    to: patientPhone,\n    body: smsBody,\n    from: $env.TWILIO_PHONE_NUMBER,\n    payment_result: paymentResult,\n    billing_data: billingData\n  }\n};"
      },
      "id": "code-node-433",
      "name": "Prepare Receipt SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5440, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip_sms}}",
              "value2": false
            }
          ]
        }
      },
      "id": "if-node-434",
      "name": "Send SMS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [5640, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{$env.TWILIO_ACCOUNT_SID}}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "specifyBody": "urlEncoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{$json.to}}"
            },
            {
              "name": "From",
              "value": "={{$json.from}}"
            },
            {
              "name": "Body",
              "value": "={{$json.body}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-node-435",
      "name": "API: Send Receipt SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [5840, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-node-436",
      "name": "Merge Notifications",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [6040, 100]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 437: EXECUTION TIME TRACKING & SUCCESS RESPONSE\n// ═══════════════════════════════════════════════════════════════\n// Enhancement: Comprehensive execution metrics and response\n// - Calculate total execution time\n// - Performance categorization (fast/normal/slow)\n// - Include all transaction details\n// - Conform to Data Contract 04 (billing_confirmation.json)\n// \n// Shared Pattern: Execution Time Tracking (from Module 01)\n// Module-Specific: Payment confirmation response\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\n\n// Get data from previous nodes\nconst paymentData = $('Prepare Payment Result').item.json;\nconst billingData = paymentData.billing_data;\nconst paymentResult = paymentData.payment_result;\nconst qboResponse = $('API: Sync QuickBooks').item?.json;\nconst emailResponse = $('API: Send Receipt Email').item?.json;\nconst smsResponse = $('API: Send Receipt SMS').item?.json;\n\n// Calculate execution time\nconst executionStartTime = billingData.execution_start_time;\nconst executionEndTime = DateTime.now().toMillis();\nconst executionTimeMs = executionEndTime - executionStartTime;\n\n// Performance categorization\nlet performanceCategory = 'normal';\nif (executionTimeMs < 2000) {\n  performanceCategory = 'fast';\n} else if (executionTimeMs > 5000) {\n  performanceCategory = 'slow';\n}\n\n// Notification status\nconst notificationStatus = {\n  quickbooks_synced: qboResponse?.Invoice?.Id ? true : false,\n  email_sent: emailResponse?.statusCode === 202 || emailResponse?.statusCode === 200,\n  sms_sent: smsResponse?.sid ? true : false\n};\n\n// Data Contract 04: billing_confirmation.json\nconst billingConfirmation = {\n  trace_id: billingData.trace_id,\n  patient_id: billingData.customer.patient_id,\n  invoice_reference: billingData.invoice.reference,\n  payment_status: paymentResult.status,\n  payment_id: paymentResult.payment_id || null,\n  invoice_id: paymentResult.invoice_id,\n  amount: parseFloat(paymentResult.amount_paid || paymentResult.amount_due),\n  currency: paymentResult.currency,\n  billing_mode: billingData.invoice.billing_mode,\n  payment_url: paymentResult.payment_url,\n  receipt_url: paymentResult.receipt_url || null,\n  gateway: billingData.gateway,\n  notifications: notificationStatus,\n  execution_time_ms: executionTimeMs,\n  performance_category: performanceCategory,\n  processed_at: DateTime.now().toISO(),\n  metadata: {\n    module: 'aigent_module_04',\n    version: '1.1',\n    service_description: billingData.invoice.description\n  }\n};\n\nreturn {\n  json: billingConfirmation\n};"
      },
      "id": "code-node-437",
      "name": "Execution Tracking & Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6240, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-node-438",
      "name": "Return: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [6440, 100]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 439: VALIDATION ERROR RESPONSE\n// ═══════════════════════════════════════════════════════════════\n// Shared Pattern: Standardized Error Response (from Module 01)\n// Returns detailed validation errors with trace ID\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\nconst validationResult = $json;\n\nconst errorResponse = {\n  success: false,\n  error: {\n    code: 'VALIDATION_FAILED',\n    message: 'Request validation failed',\n    details: validationResult.errors,\n    trace_id: `ERR-${DateTime.now().toMillis()}`\n  },\n  validated_at: validationResult.validated_at\n};\n\nreturn {\n  json: errorResponse\n};"
      },
      "id": "code-node-439",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-node-440",
      "name": "Return: Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 441: FRAUD DETECTED RESPONSE\n// ═══════════════════════════════════════════════════════════════\n// Module-Specific: Fraud detection error response\n// Returns risk score and fraud checks for security logging\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\nconst fraudResult = $json;\n\nconst errorResponse = {\n  success: false,\n  error: {\n    code: 'FRAUD_DETECTED',\n    message: 'Transaction blocked by fraud detection',\n    risk_score: fraudResult.risk_score,\n    risk_level: fraudResult.risk_level,\n    fraud_checks: fraudResult.fraud_checks,\n    trace_id: `FRAUD-${DateTime.now().toMillis()}`\n  },\n  checked_at: fraudResult.checked_at\n};\n\nreturn {\n  json: errorResponse\n};"
      },
      "id": "code-node-441",
      "name": "Fraud Detected Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-node-442",
      "name": "Return: Fraud Detected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "functionCode": "// ═══════════════════════════════════════════════════════════════\n// NODE 443: DUPLICATE TRANSACTION RESPONSE\n// ═══════════════════════════════════════════════════════════════\n// Module-Specific: Idempotency check error response\n// Returns existing transaction details to prevent duplicate charges\n// ═══════════════════════════════════════════════════════════════\n\nconst { DateTime } = require('luxon');\nconst idempotencyResult = $json;\n\nconst errorResponse = {\n  success: false,\n  error: {\n    code: 'DUPLICATE_TRANSACTION',\n    message: 'Invoice reference already processed',\n    invoice_reference: idempotencyResult.invoice_reference,\n    window_hours: idempotencyResult.window_hours,\n    trace_id: `DUP-${DateTime.now().toMillis()}`\n  },\n  checked_at: idempotencyResult.checked_at\n};\n\nreturn {\n  json: errorResponse\n};"
      },
      "id": "code-node-443",
      "name": "Duplicate Transaction Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 409,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-node-444",
      "name": "Return: Duplicate Transaction",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1840, 200]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Billing Payment Request": {
      "main": [
        [
          {
            "node": "Enhanced Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Validation": {
      "main": [
        [
          {
            "node": "Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed?": {
      "main": [
        [
          {
            "node": "Fraud Detection & Velocity Checks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fraud Detection & Velocity Checks": {
      "main": [
        [
          {
            "node": "Fraud Check Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fraud Check Passed?": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fraud Detected Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "Not Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Duplicate?": {
      "main": [
        [
          {
            "node": "Prepare Billing Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate Transaction Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Billing Data": {
      "main": [
        [
          {
            "node": "Prepare Customer Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Customer Lookup": {
      "main": [
        [
          {
            "node": "API: Lookup Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Lookup Customer": {
      "main": [
        [
          {
            "node": "Check Customer Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Customer Exists": {
      "main": [
        [
          {
            "node": "Need Create Customer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Create Customer?": {
      "main": [
        [
          {
            "node": "Prepare Create Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Customer ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Create Customer": {
      "main": [
        [
          {
            "node": "API: Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Create Customer": {
      "main": [
        [
          {
            "node": "Extract Customer ID (New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Customer ID (New)": {
      "main": [
        [
          {
            "node": "Merge Customer ID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Customer ID": {
      "main": [
        [
          {
            "node": "Prepare Invoice Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Invoice Creation": {
      "main": [
        [
          {
            "node": "API: Create Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Create Invoice": {
      "main": [
        [
          {
            "node": "Prepare Line Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Line Item": {
      "main": [
        [
          {
            "node": "Need Add Line Item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Add Line Item?": {
      "main": [
        [
          {
            "node": "API: Add Line Item (Stripe)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Line Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Add Line Item (Stripe)": {
      "main": [
        [
          {
            "node": "Merge Line Item",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Line Item": {
      "main": [
        [
          {
            "node": "Prepare Finalize Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Finalize Invoice": {
      "main": [
        [
          {
            "node": "API: Finalize Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Finalize Invoice": {
      "main": [
        [
          {
            "node": "Charge Now Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Charge Now Mode?": {
      "main": [
        [
          {
            "node": "Prepare Charge Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Payment Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Charge Now": {
      "main": [
        [
          {
            "node": "API: Charge Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Charge Now": {
      "main": [
        [
          {
            "node": "Prepare Payment Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payment Result": {
      "main": [
        [
          {
            "node": "Prepare QuickBooks Sync",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Receipt Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Receipt SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare QuickBooks Sync": {
      "main": [
        [
          {
            "node": "API: Sync QuickBooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Sync QuickBooks": {
      "main": [
        [
          {
            "node": "Merge Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Receipt Email": {
      "main": [
        [
          {
            "node": "API: Send Receipt Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Send Receipt Email": {
      "main": [
        [
          {
            "node": "Merge Notifications",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Receipt SMS": {
      "main": [
        [
          {
            "node": "Send SMS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS?": {
      "main": [
        [
          {
            "node": "API: Send Receipt SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Notifications",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "API: Send Receipt SMS": {
      "main": [
        [
          {
            "node": "Merge Notifications",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Notifications": {
      "main": [
        [
          {
            "node": "Execution Tracking & Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Tracking & Success Response": {
      "main": [
        [
          {
            "node": "Return: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error Response": {
      "main": [
        [
          {
            "node": "Return: Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fraud Detected Response": {
      "main": [
        [
          {
            "node": "Return: Fraud Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Transaction Response": {
      "main": [
        [
          {
            "node": "Return: Duplicate Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "module": "aigent_module_04",
    "version": "1.1",
    "description": "Enhanced billing and payments workflow with fraud detection, retry logic, and PCI-DSS compliance",
    "author": "Aigent System",
    "created": "2025-01-XX",
    "phi_level": "LOW",
    "dependencies": ["module_01", "module_02", "module_03"],
    "integrations": ["stripe", "square", "quickbooks", "sendgrid", "twilio"]
  },
  "id": "module-04-enhanced",
  "tags": []
}
