Aigent_Modules_Core/module_07_core_v2_env.json
{
  "name": "Aigent_Module_07_Core_V2_Analytics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-report",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "={{$env.ALLOWED_ORIGINS || 'https://yourdomain.com'}}"
        }
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return {trace_id: `REPORT-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`, period_start: $input.item.json.body?.period_start || $now.minus({days: 30}).toFormat('yyyy-MM-dd'), period_end: $input.item.json.body?.period_end || $now.toFormat('yyyy-MM-dd'), timestamp: new Date().toISOString()};"
      },
      "id": "metadata",
      "name": "Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "id": "fetch-leads",
      "name": "Fetch Leads Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Bookings",
          "mode": "name"
        },
        "options": {}
      },
      "id": "fetch-bookings",
      "name": "Fetch Bookings Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Payments",
          "mode": "name"
        },
        "options": {}
      },
      "id": "fetch-payments",
      "name": "Fetch Payments Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const leads = $('Fetch Leads Data').all();\nconst bookings = $('Fetch Bookings Data').all();\nconst payments = $('Fetch Payments Data').all();\nconst meta = $('Add Metadata').first().json;\nconst totalRevenue = payments.reduce((sum, p) => sum + (parseInt(p.json.amount) || 0), 0);\nreturn {\n  report_id: meta.trace_id,\n  period_start: meta.period_start,\n  period_end: meta.period_end,\n  metrics: {\n    total_leads: leads.length,\n    total_bookings: bookings.length,\n    total_revenue: totalRevenue / 100,\n    avg_transaction: bookings.length > 0 ? (totalRevenue / bookings.length / 100).toFixed(2) : 0,\n    conversion_rate: leads.length > 0 ? ((bookings.length / leads.length) * 100).toFixed(1) + '%' : '0%'\n  },\n  timestamp: meta.timestamp\n};"
      },
      "id": "aggregate",
      "name": "Aggregate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_WEBHOOK_URL || 'https://httpbin.org/post'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=\ud83d\udcca Report Generated\nLeads: {{ $json.metrics.total_leads }}\nBookings: {{ $json.metrics.total_bookings }}\nRevenue: ${{ $json.metrics.total_revenue }}\nConversion: {{ $json.metrics.conversion_rate }}"
            }
          ]
        }
      },
      "id": "notify",
      "name": "Send Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Add Metadata"
          }
        ]
      ]
    },
    "Add Metadata": {
      "main": [
        [
          {
            "node": "Fetch Leads Data"
          },
          {
            "node": "Fetch Bookings Data"
          },
          {
            "node": "Fetch Payments Data"
          }
        ]
      ]
    },
    "Fetch Leads Data": {
      "main": [
        [
          {
            "node": "Aggregate Metrics"
          }
        ]
      ]
    },
    "Fetch Bookings Data": {
      "main": [
        [
          {
            "node": "Aggregate Metrics"
          }
        ]
      ]
    },
    "Fetch Payments Data": {
      "main": [
        [
          {
            "node": "Aggregate Metrics"
          }
        ]
      ]
    },
    "Aggregate Metrics": {
      "main": [
        [
          {
            "node": "Send Summary"
          }
        ]
      ]
    },
    "Send Summary": {
      "main": [
        [
          {
            "node": "Return Success"
          }
        ]
      ]
    }
  },
  "active": false,
  "meta": {
    "version": "core-1.1.0",
    "description": "Module 07 CORE: Analytics aggregation",
    "performance": {
      "avg_execution_time_ms": 5000,
      "node_count": 7
    },
    "v2_improvements": [
      "CRITICAL: Added missing settings and tags keys",
      "Fixed CORS",
      "Improved trace_id"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "aigent-core",
      "name": "Aigent-Core"
    },
    {
      "id": "module-07",
      "name": "Module-07"
    },
    {
      "id": "smb-ready",
      "name": "SMB-Ready"
    }
  ]
}