Aigent_Modules_Core/module_03_core_v2.json
{
  "name": "Aigent_Module_03_Core_V2_Telehealth_Session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telehealth-session",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "={{$vars.ALLOWED_ORIGINS || 'https://yourdomain.com'}}"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "notes": "CORE: Public session creation webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst timestamp = Date.now();\nconst random = Math.random().toString(36).substr(2, 6);\n\nreturn {\n  body: body,\n  trace_id: `SESSION-${timestamp}-${random}`,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "add-metadata",
      "name": "Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "booking-id",
              "leftValue": "={{ $json.body.booking_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "email",
              "leftValue": "={{ $json.body.patient_email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-fields",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.VIDEO_PLATFORM_API_URL || 'https://api.zoom.us/v2'}}/meetings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$vars.VIDEO_PLATFORM_API_KEY || 'mock-key'}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "={{ 'Telehealth Session - ' + $json.body.booking_id }}"
            },
            {
              "name": "type",
              "value": 2
            },
            {
              "name": "start_time",
              "value": "={{ $json.body.scheduled_time || $now.plus({hours: 1}).toISO() }}"
            },
            {
              "name": "duration",
              "value": "={{ $json.body.duration_minutes || 30 }}"
            },
            {
              "name": "settings",
              "value": "={{ { host_video: true, participant_video: true, join_before_host: false } }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "create-meeting",
      "name": "Create Video Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        240
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "CORE: Zoom/Google Meet integration\nMOCK: Returns placeholder if API unavailable"
    },
    {
      "parameters": {
        "jsCode": "// CORE: Extract meeting URLs\nconst meeting = $input.first().json;\n\n// Handle both real API and mock responses\nconst meetingUrl = meeting.join_url || meeting.url || `https://meet.example.com/${Date.now()}`;\nconst meetingId = meeting.id || `MOCK-${Date.now()}`;\n\nreturn {\n  session_id: $('Add Metadata').first().json.trace_id,\n  booking_id: $('Add Metadata').first().json.body.booking_id,\n  meeting_id: meetingId,\n  meeting_url: meetingUrl,\n  patient_url: meetingUrl,\n  provider_url: meeting.start_url || meetingUrl,\n  scheduled_start: $('Add Metadata').first().json.body.scheduled_time || new Date(Date.now() + 3600000).toISOString(),\n  duration_minutes: $('Add Metadata').first().json.body.duration_minutes || 30,\n  patient_email: $('Add Metadata').first().json.body.patient_email,\n  timestamp: $('Add Metadata').first().json.timestamp\n};"
      },
      "id": "extract-urls",
      "name": "Extract Meeting URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$vars.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$vars.GOOGLE_SHEET_TAB || 'Sessions'}}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "session_id": "={{ $json.session_id }}",
            "booking_id": "={{ $json.booking_id }}",
            "meeting_id": "={{ $json.meeting_id }}",
            "patient_email": "={{ $json.patient_email }}",
            "meeting_url": "={{ $json.meeting_url }}",
            "scheduled_start": "={{ $json.scheduled_start }}",
            "duration_minutes": "={{ $json.duration_minutes }}",
            "status": "SCHEDULED"
          }
        }
      },
      "id": "log-sheets",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1200,
        160
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$vars.SENDGRID_FROM_EMAIL || 'noreply@example.com'}}",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Your Telehealth Session Link",
        "emailType": "text",
        "message": "=Hi,\n\nYour telehealth session is scheduled!\n\nJoin Meeting: {{ $json.patient_url }}\n\nScheduled Time: {{ $json.scheduled_start }}\nDuration: {{ $json.duration_minutes }} minutes\n\nSession ID: {{ $json.session_id }}\n\nPlease join on time. Questions? Contact {{ $vars.CLINIC_PHONE }}\n\nThank you!",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Meeting Link Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1.1,
      "position": [
        1200,
        240
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "disabled": true,
      "notes": "DISABLED: Enable when SendGrid connected"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.NOTIFICATION_WEBHOOK_URL || 'https://httpbin.org/post'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=\ud83c\udfa5 Telehealth Session Created\n\ud83d\udce7 {{ $json.patient_email }}\n\ud83d\udcc5 {{ $json.scheduled_start }}\n\ud83d\udd17 {{ $json.meeting_url }}\n\ud83c\udd94 {{ $json.session_id }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "notify-staff",
      "name": "Notify Staff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Telehealth session created',\n  session_id: $json.session_id,\n  meeting_url: $json.patient_url,\n  scheduled_start: $json.scheduled_start,\n  duration_minutes: $json.duration_minutes,\n  trace_id: $json.session_id,\n  timestamp: $json.timestamp\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: false,\n  error: 'Please provide booking_id and patient_email',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json.error || {};\nreturn {success: false, error: 'Internal server error', error_message: error.message || 'Unknown', trace_id: $('Add Metadata').first().json.trace_id || 'UNKNOWN', timestamp: new Date().toISOString()};"
      },
      "id": "global-error-handler",
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "return-error-500",
      "name": "Return Server Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Add Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Metadata": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Create Video Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Meeting": {
      "main": [
        [
          {
            "node": "Extract Meeting URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Meeting URLs": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Meeting Link Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Staff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-trigger": {},
    "add-metadata": {},
    "validate-fields": {},
    "create-meeting": {},
    "extract-urls": {},
    "log-sheets": {},
    "send-email": {},
    "notify-staff": {},
    "return-success": {},
    "format-error": {},
    "return-error": {},
    "global-error-handler": {},
    "return-error-500": {},
    "Global Error Handler": {
      "main": [
        [
          {
            "node": "Return Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "aigent-core",
      "name": "Aigent-Core"
    },
    {
      "id": "module-03",
      "name": "Module-03"
    },
    {
      "id": "smb-ready",
      "name": "SMB-Ready"
    }
  ],
  "meta": {
    "version": "core-1.1.0",
    "branch": "Core",
    "description": "Module 03 CORE V2: Hardened telehealth session with security and error handling",
    "target_users": "Coaches, therapists, wellness providers (non-medical)",
    "features": [
      "Video meeting creation (Zoom/Google Meet)",
      "Meeting link delivery via email",
      "Google Sheets session logging",
      "Staff notifications",
      "Trace ID tracking"
    ],
    "removed_enterprise_features": [
      "HIPAA-compliant encryption",
      "Waiting room queue",
      "Session recording with audit",
      "PHI masking",
      "Provider/patient URL separation",
      "Post-session SOAP notes",
      "Attendance tracking"
    ],
    "required_vars": [
      "GOOGLE_SHEET_ID"
    ],
    "optional_vars": [
      "GOOGLE_SHEET_TAB (default: Sessions)",
      "VIDEO_PLATFORM_API_URL",
      "VIDEO_PLATFORM_API_KEY",
      "SENDGRID_FROM_EMAIL",
      "NOTIFICATION_WEBHOOK_URL",
      "CLINIC_PHONE"
    ],
    "video_platform_options": [
      "Zoom (recommended)",
      "Google Meet",
      "Mock (for testing)"
    ],
    "performance": {
      "avg_execution_time_ms": 600,
      "p95_execution_time_ms": 1200,
      "node_count": 11
    },
    "compatibility": {
      "receives_from": "Module 02 (booking_id)",
      "sends_to": "Module 04 (session \u2192 billing)",
      "pairs_with": "Module 08 (reminder messages)"
    },
    "v2_improvements": [
      "Fixed CORS",
      "Improved trace_id",
      "Added error handler"
    ]
  }
}