Aigent_Modules_Core/module_02_core_v2.json
{
  "name": "Aigent_Module_02_Core_V2_Consult_Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consult-booking",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "={{$vars.ALLOWED_ORIGINS || 'https://yourdomain.com'}}"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "notes": "CORE V2: CORS restricted, prevents CSRF attacks"
    },
    {
      "parameters": {
        "jsCode": "// CORE V2: Enhanced metadata\nconst body = $input.item.json.body || {};\nconst timestamp = Date.now();\nconst random = Math.random().toString(36).substr(2, 6);\n\nreturn {\n  body: body,\n  trace_id: `BOOK-${timestamp}-${random}`,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "add-metadata",
      "name": "Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "notes": "CORE: Basic trace ID only"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "email",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "name",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "phone",
              "leftValue": "={{ $json.body.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "service",
              "leftValue": "={{ $json.body.service_type }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "name-length",
              "leftValue": "={{ $json.body.name.length }}",
              "rightValue": "100",
              "operator": {
                "type": "number",
                "operation": "lessThanOrEqual"
              }
            },
            {
              "id": "email-length",
              "leftValue": "={{ $json.body.email.length }}",
              "rightValue": "255",
              "operator": {
                "type": "number",
                "operation": "lessThanOrEqual"
              }
            },
            {
              "id": "service-whitelist",
              "leftValue": "={{ $json.body.service_type }}",
              "rightValue": "^(Consultation|Therapy|Assessment|Follow-up|General)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-fields",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "notes": "CORE V2: Enhanced validation with length limits and service type whitelist"
    },
    {
      "parameters": {
        "jsCode": "// CORE: Normalize booking data\nconst body = $input.item.json.body || {};\n\nreturn {\n  trace_id: $input.item.json.trace_id,\n  email: (body.email || '').toLowerCase().trim(),\n  name: (body.name || '').trim(),\n  phone: (body.phone || '').replace(/\\D/g, ''),\n  phone_display: body.phone || '',\n  service_type: body.service_type || 'Consultation',\n  preferred_date: body.preferred_date || null,\n  preferred_time: body.preferred_time || null,\n  timezone: body.timezone || $vars.CLINIC_TIMEZONE || 'America/New_York',\n  notes: body.notes || '',\n  timestamp: $input.item.json.timestamp\n};"
      },
      "id": "normalize-data",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        240
      ],
      "notes": "CORE: Basic normalization\nNO: Duplicate check, sanitization"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$vars.SCHEDULING_API_URL || 'https://httpbin.org/get'}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $json.preferred_date || $now.plus({days: 1}).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "duration",
              "value": "={{$vars.DEFAULT_APPOINTMENT_DURATION || 30}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-availability",
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        240
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "CORE V2: SCHEDULING_API_URL is REQUIRED (no mock)\nSet to Cal.com, Calendly, or your scheduling API\nCircuit breaker: retries 2x with backoff"
    },
    {
      "parameters": {
        "jsCode": "// CORE: Simple slot selection\nconst slots = $input.first().json.slots || [];\n\nif (slots.length === 0) {\n  // Return error object\n  return { error: true, message: 'No available slots' };\n}\n\n// Use first available slot\nconst selected = slots[0];\n\nreturn {\n  slot_time: selected.time || selected.start,\n  slot_id: selected.id || selected.time,\n  duration: selected.duration || 30\n};"
      },
      "id": "select-slot",
      "name": "Select Slot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        240
      ],
      "notes": "CORE: First available slot\nNO: Preference matching, optimization"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-slot",
      "name": "Check Slot Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        240
      ],
      "notes": "CORE: Simple error check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SCHEDULING_API_URL || 'https://httpbin.org/post'}}/bookings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Normalize Data').first().json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $('Normalize Data').first().json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Normalize Data').first().json.phone_display }}"
            },
            {
              "name": "service_type",
              "value": "={{ $('Normalize Data').first().json.service_type }}"
            },
            {
              "name": "start_time",
              "value": "={{ $json.slot_time }}"
            },
            {
              "name": "duration",
              "value": "={{ $json.duration }}"
            },
            {
              "name": "timezone",
              "value": "={{ $('Normalize Data').first().json.timezone }}"
            },
            {
              "name": "notes",
              "value": "={{ $('Normalize Data').first().json.notes }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "create-booking",
      "name": "Create Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        180
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "CORE: Direct booking creation\nNO: Duplicate prevention, saga pattern"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$vars.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$vars.GOOGLE_SHEET_TAB || 'Bookings'}}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Normalize Data').first().json.timestamp }}",
            "trace_id": "={{ $('Normalize Data').first().json.trace_id }}",
            "booking_id": "={{ $json.id || $json.booking_id }}",
            "patient_name": "={{ $('Normalize Data').first().json.name }}",
            "patient_email": "={{ $('Normalize Data').first().json.email }}",
            "patient_phone": "={{ $('Normalize Data').first().json.phone }}",
            "service_type": "={{ $('Normalize Data').first().json.service_type }}",
            "scheduled_time": "={{ $('Select Slot').first().json.slot_time }}",
            "duration_minutes": "={{ $('Select Slot').first().json.duration }}",
            "timezone": "={{ $('Normalize Data').first().json.timezone }}",
            "status": "SCHEDULED"
          }
        }
      },
      "id": "log-sheets",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1800,
        100
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "notes": "CORE: Audit logging"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.NOTIFICATION_WEBHOOK_URL || 'https://httpbin.org/post'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=\ud83d\udcc5 New Appointment\n\ud83d\udc64 {{ $('Normalize Data').first().json.name }}\n\ud83d\udce7 {{ $('Normalize Data').first().json.email }}\n\ud83c\udfe5 {{ $('Normalize Data').first().json.service_type }}\n\ud83d\udcc5 {{ $('Select Slot').first().json.slot_time }}\n\ud83c\udd94 {{ $('Normalize Data').first().json.trace_id }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "notify-staff",
      "name": "Notify Staff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        180
      ],
      "continueOnFail": true,
      "notes": "CORE: Simple Slack/Teams notification\nNO: PHI masking, rich formatting"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$vars.SENDGRID_FROM_EMAIL || 'noreply@example.com'}}",
        "toEmail": "={{ $('Normalize Data').first().json.email }}",
        "subject": "Appointment Confirmed",
        "emailType": "text",
        "message": "=Hi {{ $('Normalize Data').first().json.name }},\n\nYour appointment has been confirmed!\n\nService: {{ $('Normalize Data').first().json.service_type }}\nDate & Time: {{ $('Select Slot').first().json.slot_time }}\nLocation: {{ $vars.CLINIC_NAME }}\n\nConfirmation: {{ $('Normalize Data').first().json.trace_id }}\n\nQuestions? Call {{ $vars.CLINIC_PHONE }}\n\nThank you!",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Confirmation",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1.1,
      "position": [
        1800,
        260
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "disabled": true,
      "notes": "CORE: Simple text email\nDISABLED: Enable when SendGrid connected\nNO: HTML templates, branding"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Appointment booked successfully',\n  booking_id: $json.id || $json.booking_id,\n  confirmation_number: ($json.id || $json.booking_id || $('Normalize Data').first().json.trace_id).substring(0, 8).toUpperCase(),\n  scheduled_time: $('Select Slot').first().json.slot_time,\n  service_type: $('Normalize Data').first().json.service_type,\n  trace_id: $('Normalize Data').first().json.trace_id,\n  timestamp: $('Normalize Data').first().json.timestamp\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        180
      ],
      "notes": "CORE: Simple success response\nNO: Performance metrics, detailed confirmations"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: false,\n  error: 'No available appointments',\n  retry_after: $now.plus({days: 1}).toISO(),\n  timestamp: $now.toISO()\n} }}",
        "options": {
          "responseCode": 409
        }
      },
      "id": "return-no-slots",
      "name": "Return No Availability",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        340
      ],
      "notes": "CORE: 409 Conflict (no slots)"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst missing = [];\n\nif (!body.email || !/@/.test(body.email)) missing.push('email (valid format)');\nif (!body.name || !body.name.trim()) missing.push('name');\nif (!body.phone || !body.phone.trim()) missing.push('phone');\nif (!body.service_type || !body.service_type.trim()) missing.push('service_type (Consultation, Therapy, Assessment, Follow-up, or General)');\n\nif (body.name && body.name.length > 100) missing.push('name (max 100 chars)');\nif (body.email && body.email.length > 255) missing.push('email (max 255 chars)');\n\nreturn {\n  success: false,\n  error: `Validation failed: ${missing.join(', ')}`,\n  fields_with_errors: missing,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        360
      ],
      "notes": "CORE: Generic validation error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        360
      ],
      "notes": "CORE: 400 Bad Request"
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json.error || {};\nreturn {\n  success: false,\n  error: 'Internal server error',\n  error_message: error.message || 'Unknown error',\n  trace_id: $('Add Metadata').first().json.trace_id || 'UNKNOWN',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "global-error-handler",
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ],
      "notes": "CORE V2: Global error handler"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "return-error-500",
      "name": "Return Server Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2200,
        500
      ],
      "notes": "CORE V2: 500 error response"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Add Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Metadata": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Select Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Slot": {
      "main": [
        [
          {
            "node": "Check Slot Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Slot Found": {
      "main": [
        [
          {
            "node": "Return No Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Staff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-trigger": {},
    "add-metadata": {},
    "validate-fields": {},
    "normalize-data": {},
    "check-availability": {},
    "select-slot": {},
    "check-slot": {},
    "create-booking": {},
    "log-sheets": {},
    "notify-staff": {},
    "send-email": {},
    "return-success": {},
    "return-no-slots": {},
    "format-error": {},
    "return-error": {},
    "global-error-handler": {},
    "return-error-500": {},
    "Global Error Handler": {
      "main": [
        [
          {
            "node": "Return Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "aigent-core",
      "name": "Aigent-Core"
    },
    {
      "id": "module-02",
      "name": "Module-02"
    },
    {
      "id": "smb-ready",
      "name": "SMB-Ready"
    }
  ],
  "meta": {
    "version": "core-1.1.0",
    "branch": "Core",
    "description": "Aigent Module 02 CORE V2: Hardened consult booking with validation, error handling, and security fixes.",
    "target_users": "Service providers (salons, gyms, coaching, wellness)",
    "features": [
      "Basic webhook entry (no auth)",
      "Simple 4-field validation",
      "Calendar availability check (Cal.com or mock API)",
      "First-available slot selection",
      "Direct booking creation",
      "Google Sheets logging",
      "Optional Slack notification",
      "Optional email confirmation",
      "Trace ID generation"
    ],
    "removed_enterprise_features": [
      "API key authentication",
      "Rate limiting (persistent API)",
      "Idempotency checking",
      "Duplicate detection (5-min window)",
      "HTML sanitization",
      "Extended validation (12 fields)",
      "Preference-based slot matching",
      "SMS confirmations",
      "Observability logging",
      "Test harness",
      "Performance tracking",
      "Error correlation"
    ],
    "required_vars": [
      "GOOGLE_SHEET_ID"
    ],
    "optional_vars": [
      "GOOGLE_SHEET_TAB (default: Bookings)",
      "SCHEDULING_API_URL (Cal.com API or mock)",
      "NOTIFICATION_WEBHOOK_URL (Slack/Teams)",
      "SENDGRID_FROM_EMAIL (if email enabled)",
      "CLINIC_NAME",
      "CLINIC_PHONE",
      "CLINIC_TIMEZONE (default: America/New_York)",
      "DEFAULT_APPOINTMENT_DURATION (default: 30 minutes)"
    ],
    "required_credentials": [
      "Google Sheets OAuth2"
    ],
    "optional_credentials": [
      "SendGrid API (if email enabled)"
    ],
    "calendar_integration_options": [
      "Cal.com API (recommended)",
      "Calendly API",
      "Google Calendar API",
      "Mock API (for testing - returns sample slots)"
    ],
    "setup_instructions": [
      "1. Import to n8n",
      "2. Connect Google Sheets credential",
      "3. Set GOOGLE_SHEET_ID and optionally GOOGLE_SHEET_TAB",
      "4. Configure SCHEDULING_API_URL (Cal.com or mock)",
      "5. Optionally set NOTIFICATION_WEBHOOK_URL for Slack",
      "6. Optionally enable & configure SendGrid",
      "7. Set clinic details (NAME, PHONE, TIMEZONE)",
      "8. Test with sample booking",
      "9. Activate workflow"
    ],
    "test_curl": "curl -X POST https://your-n8n-instance/webhook/consult-booking -H 'Content-Type: application/json' -d '{\"name\":\"Jane Smith\",\"email\":\"jane@example.com\",\"phone\":\"555-9876\",\"service_type\":\"Consultation\",\"preferred_date\":\"2025-11-15\",\"preferred_time\":\"14:00\"}'",
    "performance": {
      "avg_execution_time_ms": 800,
      "p95_execution_time_ms": 1500,
      "node_count": 16,
      "note": "60% faster than Enterprise (14 nodes vs 35 nodes)"
    },
    "compatibility": {
      "n8n_version": "1.0+",
      "receives_from": "Module 01 Core (optional - manual booking)",
      "sends_to": "Module 03 Core (booking_id \u2192 session creation)",
      "pairs_with": "Module 07 Core (analytics)",
      "enterprise_upgrade_path": "Switch to Module 02 Enterprise for auth, rate limiting, duplicate prevention"
    },
    "v2_improvements": [
      "SECURITY: Fixed CORS wildcard",
      "VALIDATION: Added length limits and service type whitelist",
      "VALIDATION: Improved email regex",
      "RELIABILITY: Added global error handler",
      "RELIABILITY: Improved trace_id uniqueness",
      "UX: Field-specific error messages",
      "DOCS: Clarified SCHEDULING_API_URL is required"
    ]
  }
}