Aigent_Modules_Core/module_05_core_v2.json
{
  "name": "Aigent_Module_05_Core_V2_Followup_Retention",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-campaign",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "={{$env.ALLOWED_ORIGINS || 'https://yourdomain.com'}}"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// CORE V2: Body unwrapper for PowerShell/n8n compatibility\nfunction unwrapBody(input) {\n  if (input.body && input.body.body && typeof input.body.body === 'object') {\n    return input.body.body;\n  }\n  if (input.body && typeof input.body === 'object') {\n    return input.body;\n  }\n  return input;\n}\n\nconst body = unwrapBody($input.item.json);\nreturn {body: body, trace_id: `CAMPAIGN-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`, timestamp: new Date().toISOString()};"
      },
      "id": "add-metadata",
      "name": "Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "recipients",
              "leftValue": "={{ $json.body.recipients }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            },
            {
              "id": "subject",
              "leftValue": "={{ $json.body.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "message",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-recipients",
      "name": "Split Recipients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        240
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$env.SENDGRID_FROM_EMAIL || 'noreply@example.com'}}",
        "toEmail": "={{ $json.body.recipients[$item(0)] }}",
        "subject": "={{ $('Add Metadata').first().json.body.subject }}",
        "emailType": "text",
        "message": "={{ $('Add Metadata').first().json.body.message.replace('{name}', $json.body.recipients[$item(0)].split('@')[0]) }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1.1,
      "position": [
        1000,
        240
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_TAB || 'Campaigns'}}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "campaign_id": "={{ $('Add Metadata').first().json.trace_id }}",
            "recipient": "={{ $('Add Metadata').first().json.body.recipients[$item(0)] }}",
            "subject": "={{ $('Add Metadata').first().json.body.subject }}",
            "status": "={{ $json.success ? 'sent' : 'failed' }}"
          }
        }
      },
      "id": "log-sheets",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1200,
        240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const metadata = $('Add Metadata').first().json;\nreturn {\n  success: true,\n  campaign_id: metadata.trace_id,\n  recipients_count: metadata.body.recipients.length,\n  timestamp: metadata.timestamp\n};"
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {success: false, error: 'Provide recipients (array), subject, and message'} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json.error || {};\nreturn {success: false, error: 'Campaign error', error_message: error.message || 'Unknown', timestamp: new Date().toISOString()};"
      },
      "id": "global-error-handler",
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "return-error-500",
      "name": "Return Server Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Add Metadata"
          }
        ]
      ]
    },
    "Add Metadata": {
      "main": [
        [
          {
            "node": "Validate Fields"
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Split Recipients"
          }
        ],
        [
          {
            "node": "Return Error"
          }
        ]
      ]
    },
    "Split Recipients": {
      "main": [
        null,
        [
          {
            "node": "Format Success"
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log to Sheets"
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Split Recipients"
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Return Success"
          }
        ]
      ]
    },
    "Global Error Handler": {
      "main": [
        [
          {
            "node": "Return Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "aigent-core",
      "name": "Aigent-Core"
    },
    {
      "id": "module-05",
      "name": "Module-05"
    }
  ],
  "meta": {
    "version": "core-1.1.0",
    "branch": "Core",
    "description": "Module 05 CORE: Email campaigns",
    "features": [
      "Batch email sending",
      "Campaign logging"
    ],
    "performance": {
      "avg_execution_time_ms": 500,
      "node_count": 9
    },
    "v2_improvements": [
      "Fixed CORS",
      "Improved trace_id",
      "Added error handler",
      "Verified batch loop"
    ]
  }
}